<div class="tabs_block">
  <ul class="tabs">
    <li data-target="#publisher-tab-content" class="current" ><a href="#" title="" >Publisher</a></li>
    <!--<li data-target="#advertiser-tab-content"><a href="#" title="" >Advertiser</a></li>-->
    <li data-target="#affilate-tab-content"><a href="#" title="" >Affilate</a></li>
  </ul>
</div>