<ul class="main_menu inner-tabs">

  <!--<li data-target="#sites-tab-content" class="current"><a href="#" title=""><span class="m6"></span>Websites<b></b></a></li>-->
  <li data-target="#sites-tab-content" class="current static"><a href=<%= publisher_sites_path %> title=""><span class="m6"></span>Websites<b></b></a></li>

  <!--<li data-target="#adzones-tab-content" class=""><a href="#" title=""><span class="m5"></span>AdZones<b></b></a></li>-->

  <li data-target="#pub-statistics-tab-content" class=""><a href="#" title=""><span class="m2"></span>Statistics<b></b></a></li>

  <li data-target="#pub-pay-tab-content"><a href="#" title=""><span class="m3"></span>Payments<b></b></a></li>

  <li data-target="#pub-config-tab-content"><a href="#" title=""><span class="m4"></span>Settings<b></b></a></li>
</ul>