<!--TODO move to layout-->

<div class="right_panel" style="height: 925px;">
  <div class="user_navig">
    <div class="username"><span></span><a href="#" title="">User Name</a></div>
    <div class="status"><span></span>Status — Active</div>
    <div class="payments"><span></span><a href="#" title="">Your payments: 8931 $</a></div>
  </div>
  <div class="right_info">
    <h4>Advanced info</h4>
    <p>2 Active campaigns<br>
      1 Paused campaigns</p>
    <p>Today earn 2.3 $<br>
      Yesterday earn 1.3 $<br>
      Last week earn 25.4 $<br>
      Total earn 245 $ </p>
    <p>Today traffic 234<br>
      Total traffic 345</p>
  </div>
</div>