<!-- content -->
<div class="content_in2">
  <div class="headline3 hd3"><span class="about_icon"></span><h1>About Us</h1></div>

  <div class="advert_content about_content">
    <%= image_tag 'about_picture.png' %>
    <ul class="advert_list">
      <li><span>We are a brand new company with high grade educated specialists.</span></li>
      <li class="spr3"></li>
      <li><span>Our special technologies allow us to by and sell only unadulterated products.</span></li>
      <li class="spr3"></li>
      <li class="last-child"><span>We will take your business on highest level and rise up your profit.</span></li>
    </ul>
    <p><span></span>We are the team with great skills and pretty long time experience of working in World Wide Web. Our clients have been dealing with us for years. And now we have created a new branch of business. Our web of top rated and qualitative sites is not staying at the same place, but it is keep growing wider every day. </p>
    <p>Specialists of Traffic Exchange researches new sites and frequency update them. Making our consumers and partners satisfied and happy from working with us is our main goal.</p>
    <p>When ever you decide to cooperate with Traffic Exchange you are welcome! We will provide you the best service and only qualified products for your business's prosperity. Before dealing with us the consumers should remember that every single employee of Traffic Exchange is educated specialist. And when such great workers cooperate they become a strong and qualified team, which is able to confidently carry you on top of the business ladder. Just contact us and take your way to high income of benefits!</p>
    <div class="but2">
      <%= link_to 'Join us', landing_contacts_path, title: "Join us", class: "button2 b8"%>
    </div>
  </div>
</div>
<!-- /content -->