<!-- content -->
<div class="content_in2">
  <div class="headline3 hd2"><span class="advert_icon"></span><h1>Advertiser</h1></div>

  <div class="advert_content">
    <%= image_tag 'advert_picture.png' %>
    <ul class="advert_list">
      <li><span>We are using unique methods for making productive advertisement.</span></li>
      <li class="spr3"></li>
      <li><span>All best advertising boards with high rates available only for us.</span></li>
      <li class="spr3"></li>
      <li class="last-child"><span>Individual approach and 24/7 support for successful advertising.</span></li>
    </ul>
    <p><span></span>As everyone knows, the best tool of successful and prosperous business is a qualitative advertising. The Traffic Exchange knows all unique methods how to make your advertisements productive and capable to maximally gather the clients. </p>
    <p> First of all we will attentively learn your project that you are going to advertise. It will let us better understand what your project is, so we can make the right decision on what method of advertising would be the best for you. Also after studying the project, our specialist can give you few advices about the design of your advertisement, which is pretty important. Correctly designed ad will attract the attention of the potential clients and make them interested in your offer. </p>
    <p>Another important point is the place where the ad is going to be placed. We have a lot of perfect places where the ads can be successfully set and gather needed results for your business. The Traffic Exchange is the best decision for correctly composed and designed advertisement that provides high profits.</p>
    <div class="but2"><a href="#" title="Try it now" class="button2 b7" data-reveal-id="signModal" data-animation="fade">try it now</a></div>
  </div>
</div>
<!-- /content -->