<!-- content -->
<div class="content_in2">
  <div class="headline3"><span class="contact_icon"></span><h1>Contact Us</h1></div>

  <form action="#" method="post" class="contacts_form">
    <fieldset>
      <div class="contacts_content">
        <p>If you have any questions, please contact us via the form below and we'll get back with you very soon.</p>
        <div class="emails">
          <div class="email mail_active">
            <span class="email_icon"></span><a href="javascript:void(0);" title="">info@traffic-excange.ru</a>
            <span class="corner4"></span>
            <span class="email_bord"></span>
          </div>
          <div class="email">
            <span class="email_icon"></span><a href="javascript:void(0);" title="">info@traffic-excange.ru</a>
            <span class="corner4"></span>
            <span class="email_bord"></span>
          </div>
          <div class="email">
            <span class="email_icon"></span><a href="javascript:void(0);" title="">info@traffic-excange.ru</a>
            <span class="corner4"></span>
            <span class="email_bord"></span>
          </div>
          <div class="email last">
            <span class="email_icon"></span><a href="javascript:void(0);" title="">info@traffic-excange.ru</a>
            <span class="corner4"></span>
            <span class="email_bord"></span>
          </div>
          <div class="clearing"></div>
        </div>

        <div class="form_left">
          <label>Name&nbsp;/&nbsp;Last Name</label>
          <input type="text" class="input2">

          <label>E-mail</label>
          <input type="text" class="input2">

          <div class="but4"><input type="submit" value="Send message" class="button3"></div>
        </div>
        <div class="form_right">
          <label>Message</label>
          <textarea rows="10" cols="10" class="input2" placeholder="Write your text message here..."></textarea>
        </div>
        <div class="clearing"></div>
      </div>
    </fieldset>
  </form>

  <div class="contacts_bottom">
    <p>Or you can contact us by other means.</p>
    <div class="cont_block">
      <span class="skype_icon"></span><a href="#" title="">traffic_exchange</a>
    </div>
    <div class="cont_block">
      <span class="skype_icon"></span><a href="#" title="">traffexsupport</a>
    </div>
    <div class="cont_block">
      <span class="icq_icon"></span><a href="#" title="">672190704</a>
    </div>
    <div class="cont_block last">
      <span class="icq_icon"></span><a href="#" title="">679375067</a>
    </div>
    <div class="clearing"></div>
  </div>
</div>
<!-- /content -->