<!-- content -->
<div class="bg_top">
  <div class="block_1">
    <h1>12 Billion Premium Impressions Served Monthly</h1>
    <p>Start the Traffic Exchange experience today!</p>
    <a href="#content" title="" class="arr_bottom arr"></a>
  </div>
</div>

<div class="block_2" id="content">
  <div class="block_2_top">
    <div class="wrap">
      <h2>We will provide you the best service and only qualified products</h2>
    </div>
  </div>
  <div class="block_2_bottom">
    <div class="pattern"></div>
    <div class="wrap">
      <div class="main_list advertisers">
        <div class="headline2"><span></span><h4>Advertisers</h4></div>
        <ul>
          <li>We are using unique methods for making productive advertisement.</li>
          <li>All best advertising boards with high rates available only for us.</li>
          <li>Individual approach and 24/7 support for successful advertising.</li>
        </ul>
        <a href="#" title="" class="learn">Learn More</a>
        <a href="javascript:void(0);" title="sign up now" class="button_sign" data-reveal-id="signModal" data-animation="fade"></a>
        <div class="clearing"></div>
      </div>
      <div class="main_list publisher">
        <div class="headline2"><span></span><h4>Publisher</h4></div>
        <ul>
          <li>Our specialists pick most top rated referral partners and leading sites for publishing.</li>
          <li>Carefully learning the niche and publish place before publishing.</li>
          <li>Individual approach and 24/7 support for successful publishing.</li>
        </ul>
        <a href="#" title="" class="learn">Learn More</a>
        <a href="javascript:void(0);" title="sign up now" class="button_sign" data-reveal-id="signModal" data-animation="fade"></a>
        <div class="clearing"></div>
      </div>
      <div class="main_list features">
        <div class="headline2"><span></span><h4>Our features</h4></div>
        <ul>
          <li>We are using unique methods for making productive advertisement.</li>
          <li>All best advertising boards with high rates available only for us.</li>
          <li>Individual approach and 24/7 support for successful advertising.</li>
        </ul>
        <a href="#" title="" class="learn">Learn More</a>
        <a href="javascript:void(0);" title="sign up now" class="button_sign" data-reveal-id="signModal" data-animation="fade"></a>
        <div class="clearing"></div>
      </div>
      <div class="clearing"></div>
    </div>
  </div>
</div>

<div class="bg_bottom">
  <div class="wrap">
    <h2>Global and multi-channel ad solutions!</h2>
    <p>Your advertizing on any device, worldwide. A top the sites in our network</p>
    <a href="javascript:void(0);" title="Sign Up" class="button2 b5" data-reveal-id="signModal" data-animation="fade">Sign Up</a>
    <a href="#main_head" title="" class="arr_top arr"></a>
  </div>
</div>
<!-- /content -->