<!-- content -->
<div class="content">

<!-- main menu -->
<div class="main_menu_block">
  <h3>Main menu <span></span></h3>
</div>
<!-- /main menu -->

<!-- middle column -->
<div class="mid_col tabs-content">

<div class="tabs_block">
  <ul class="tabs">
    <li data-target="#publisher-tab-content" class="current" ><a href="#" title="" >Publisher</a></li>
    <li data-target="#advertiser-tab-content"><a href="#" title="" >Advertiser</a></li>
    <li data-target="#affilate-tab-content"><a href="#" title="" >Affilate</a></li>
  </ul>
</div><!-- /tabs_block -->


<!-- Publisher -->
<div id="publisher-tab-content" class="box tab-content-js visible">

<div class="tabs-content">

<ul class="main_menu inner-tabs">

  <li data-target="#sites-tab-content" class="current"><a href="#" title=""><span class="m6"></span>Websites<b></b></a></li>
  <li data-target="#adzones-tab-content" class=""><a href="#" title=""><span class="m5"></span>AdZones<b></b></a></li>
  <li data-target="#pub-statistics-tab-content" class=""><a href="#" title=""><span class="m2"></span>Statistics<b></b></a></li>
  <li data-target="#pub-pay-tab-content"><a href="#" title=""><span class="m3"></span>Payments<b></b></a></li>
  <li data-target="#pub-config-tab-content"><a href="#" title=""><span class="m4"></span>Settings<b></b></a></li>
</ul>

<!-- Publisher - Websites -->
<div id="sites-tab-content" class="box inner-tab-content-js visible" style="display: block;">

  <div class="content_in">

    <div class="headline">
      <h2>Websites</h2>
      <p>There is should be short text that describe this control panel.</p>
    </div>

    <div class="but"><a href="javascript:void(0);" title="" class="button" data-reveal-id="addWebsiteModal" data-animation="fade"><span class="plus"></span>Add website</a></div>

    <div class="filter">
      <div class="sources2">
        <ul class="sources_list2">
          <li class="first-child">
            <input type="checkbox" name="sourse" value="1" id="sites_all" checked="">
            <label for="sites_all">All</label>
            <div class="clearing"></div>
          </li>
          <li>
            <input type="checkbox" name="sourse" value="2" id="sites_active" checked="">
            <label for="sites_active">Active</label>
            <div class="clearing"></div>
          </li>
          <li class="last-child">
            <input type="checkbox" name="sourse" value="3" id="sites_rejected">
            <label for="sites_rejected">Rejected</label>
            <div class="clearing"></div>
          </li>
        </ul>
        <div class="clearing"></div>
      </div>
    </div>

    <table class="tab tab4">
      <tbody><tr>
        <th>ID</th>
        <th>Status</th>
        <th>Website</th>
        <th>Banner size</th>
        <th>Adzones</th>
        <th>AlexaRank</th>
        <th></th>
      </tr>
      <tr>
        <td>231</td>
        <td><span class="active_item2">Active</span></td>
        <td>
          Websitename.com<br>
          <span class="links_td"><a href="#" title="">Webcams</a>&nbsp;/&nbsp;<a href="#" title="">Amateur</a></span>
        </td>
        <td>
          IAB Full Banner<br>(468x60)
        </td>
        <td>
          <span class="links_td"><a href="#" title="">Add</a>&nbsp;/&nbsp;<a href="#" title="">Manage</a></span>
        </td>
        <td>
          <span class="rank"><b></b>456252</span>
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>231</td>
        <td><span class="active_item2">Active</span></td>
        <td>
          Websitename.com<br>
          <span class="links_td"><a href="#" title="">Webcams</a>&nbsp;/&nbsp;<a href="#" title="">Amateur</a></span>
        </td>
        <td>
          IAB Full Banner<br>(468x60)
        </td>
        <td>
          <span class="links_td"><a href="#" title="">Add</a>&nbsp;/&nbsp;<a href="#" title="">Manage</a></span>
        </td>
        <td>
          <span class="rank"><b></b>456252</span>
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>231</td>
        <td><span class="active_item2">Active</span></td>
        <td>
          Websitename.com<br>
          <span class="links_td"><a href="#" title="">Webcams</a>&nbsp;/&nbsp;<a href="#" title="">Amateur</a></span>
        </td>
        <td>
          IAB Full Banner<br>(468x60)
        </td>
        <td>
          <span class="links_td"><a href="#" title="">Add</a>&nbsp;/&nbsp;<a href="#" title="">Manage</a></span>
        </td>
        <td>
          <span class="rank"><b></b>456252</span>
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>231</td>
        <td><span class="active_item2">Active</span></td>
        <td>
          Websitename.com<br>
          <span class="links_td"><a href="#" title="">Webcams</a>&nbsp;/&nbsp;<a href="#" title="">Amateur</a></span>
        </td>
        <td>
          IAB Full Banner<br>(468x60)
        </td>
        <td>
          <span class="links_td"><a href="#" title="">Add</a>&nbsp;/&nbsp;<a href="#" title="">Manage</a></span>
        </td>
        <td>
          <span class="rank"><b></b>456252</span>
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>231</td>
        <td><span class="active_item2">Active</span></td>
        <td>
          Websitename.com<br>
          <span class="links_td"><a href="#" title="">Webcams</a>&nbsp;/&nbsp;<a href="#" title="">Amateur</a></span>
        </td>
        <td>
          IAB Full Banner<br>(468x60)
        </td>
        <td>
          <span class="links_td"><a href="#" title="">Add</a>&nbsp;/&nbsp;<a href="#" title="">Manage</a></span>
        </td>
        <td>
          <span class="rank"><b></b>456252</span>
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>231</td>
        <td><span class="rejected_item3">Rejected</span></td>
        <td>
          Websitename.com<br>
          <span class="links_td"><a href="#" title="">Webcams</a>&nbsp;/&nbsp;<a href="#" title="">Amateur</a></span>
        </td>
        <td>
          IAB Full Banner<br>(468x60)
        </td>
        <td>
          <span class="links_td"><a href="#" title="">Add</a>&nbsp;/&nbsp;<a href="#" title="">Manage</a></span>
        </td>
        <td>
          <span class="rank"><b></b>456252</span>
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      </tbody></table>

    <ul class="page_nav">
      <li><a href="#" title="" class="prev_page"></a></li>
      <li><a href="#" title="" class="active">1</a></li>
      <li><a href="#" title="">2</a></li>
      <li><a href="#" title="">3</a></li>
      <li><a href="#" title="">4</a></li>
      <li><a href="#" title="">5</a></li>
      <li><a href="#" title="" class="next_page"></a></li>
    </ul>

  </div>

</div>
<!-- /Publisher - Websites -->

<!-- Publisher - Campaigns -->
<div id="adzones-tab-content" class="box inner-tab-content-js" style="display: none;">

  <div class="content_in">

    <div class="headline">
      <h2>AdZones</h2>
      <p>There is should be short text that describe this control panel.</p>
    </div>

    <table class="tab tab4">
      <tbody><tr>
        <th>ID</th>
        <th>Status</th>
        <th>Title&nbsp;/&nbsp;Description&nbsp;/&nbsp;URL</th>
        <th>Info</th>
        <th>Impr&nbsp;/&nbsp;CLicks&nbsp;/&nbsp;CTR</th>
        <th>Stats&nbsp;/&nbsp;Edit&nbsp;/&nbsp;JS&nbsp;/&nbsp;delete</th>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      </tbody></table>

    <ul class="page_nav">
      <li><a href="#" title="" class="prev_page"></a></li>
      <li><a href="#" title="" class="active">1</a></li>
      <li><a href="#" title="">2</a></li>
      <li><a href="#" title="">3</a></li>
      <li><a href="#" title="">4</a></li>
      <li><a href="#" title="">5</a></li>
      <li><a href="#" title="" class="next_page"></a></li>
    </ul>

  </div>

</div>
<!-- /Publisher - Campaigns -->

<!-- Publisher - Statistics -->
<div id="pub-statistics-tab-content" class="box inner-tab-content-js" style="display: none;">

<div class="content_in">

<div class="headline">
  <h2>Statistics</h2>
</div>
<div class="total">
  <span>Total views:  37.000</span>
  <span>Total clicks: 2000</span>
  <span>CRT: 10%</span>
</div>
<div class="clearing"></div>

<div class="stat_content">

<div class="f4 float_l">
  <label>Choose campaing</label>
  <div class="sel2">
    <select >
      <option>Campaing Name</option>
      <option>Campaing Name 2</option>
      <option>Campaing Name 3</option>
    </select>
  </div>
</div>
<div class="f4 float_l">
  <label>Period</label>
  <input type="text" class="input inp_small date" id="">
  <input type="text" class="input inp_small date" id="">
  <div class="sel4">
    <select >
      <option>Last 7 days</option>
      <option>Last 10 days</option>
      <option>Last 15 days</option>
    </select>
  </div>
</div>

<div class="clearing"></div>

<div class="stat_grafic">
  <%= image_tag('temp/stat.jpg') %>

</div>
<div class="butn_group">
  <a href="#" title="" class="button b1"><span></span>Impressions</a>
  <a href="#" title="" class="button b3"><span></span>Clicks</a>
  <a href="#" title="" class="button b4"><span></span>CRT</a>
</div>

<div class="tab2">
  <table>
    <tbody><tr>
      <th>OS</th>
      <th>Visits</th>
    </tr>
    <tr>
      <td><span class="os1"></span>Windows XP</td>
      <td>1234 (51%)</td>
    </tr>
    <tr>
      <td><span class="os2"></span>Windows 7</td>
      <td>453 (18%)</td>
    </tr>
    <tr>
      <td><span class="os3"></span>Windows Vista</td>
      <td>245 (9%)</td>
    </tr>
    <tr>
      <td><span class="os4"></span>Linux</td>
      <td>123 (4%)</td>
    </tr>
    <tr>
      <td><span class="os5"></span>Mac OS</td>
      <td>43 (2%)</td>
    </tr>
    <tr>
      <td><span class="os6"></span>Other</td>
      <td>23 (1%)</td>
    </tr>
    </tbody></table>
</div>
<div class="tab2">
  <table>
    <tbody><tr>
      <th>Browser</th>
      <th>Visits</th>
    </tr>
    <tr>
      <td><span class="os1"></span>Internet Explorer</td>
      <td>1234 (51%)</td>
    </tr>
    <tr>
      <td><span class="os2"></span>Chrome</td>
      <td>453 (18%)</td>
    </tr>
    <tr>
      <td><span class="os3"></span>Firefox</td>
      <td>245 (9%)</td>
    </tr>
    <tr>
      <td><span class="os4"></span>Opera</td>
      <td>123 (4%)</td>
    </tr>
    <tr>
      <td><span class="os5"></span>Safari</td>
      <td>43 (2%)</td>
    </tr>
    <tr>
      <td><span class="os6"></span>Other</td>
      <td>23 (1%)</td>
    </tr>
    </tbody></table>
</div>
<div class="clearing"></div>

<h2>graph</h2>
<div class="grafics_wrap">
  <div class="stat_grafic2" id="container4" style="height: 300px; max-width: 600px;" data-highcharts-chart="2">
  </div>
  <div class="stat_grafic2" id="container5" style="height: 300px; max-width: 600px;" data-highcharts-chart="3">
  </div>
  <div class="clearing"></div>
</div>

<div class="grafics_tab">
  <table class="tab tab3">
    <tbody><tr>
      <th>Date</th>
      <th>Name</th>
      <th>Type</th>
      <th>Cost</th>
      <th>Impressions</th>
      <th>Cliks</th>
      <th>CRT</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    </tbody></table>
  <ul class="page_nav">
    <li><a href="#" title="" class="prev_page"></a></li>
    <li><a href="#" title="" class="active">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
    <li><a href="#" title="" class="next_page"></a></li>
  </ul>
</div>

<div class="geography">
  <strong class="hd">Geography</strong>
  <table class="tab tab3">
    <tbody><tr>
      <th>Country</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>CRT</th>
      <th>Price</th>
      <th>Total earn</th>
    </tr>
    <tr>
      <td>Russia</td>
      <td>Moscow</td>
      <td>124</td>
      <td>23%</td>
      <td>$623</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Ukraine</td>
      <td>Kiev</td>
      <td>232</td>
      <td>21%</td>
      <td>124</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>United Kingdom</td>
      <td>London</td>
      <td>122</td>
      <td>12%</td>
      <td>78</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Tailand</td>
      <td>Samui</td>
      <td>122</td>
      <td>12%</td>
      <td>78</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>New Zeland</td>
      <td>Wellington</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Belarus</td>
      <td>Minsk</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Russia</td>
      <td>Saint-Petersburg</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Tailand</td>
      <td>Samui</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    </tbody></table>
  <ul class="page_nav">
    <li><a href="#" title="" class="prev_page"></a></li>
    <li><a href="#" title="" class="active">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
    <li><a href="#" title="" class="next_page"></a></li>
  </ul>
</div>

<div class="world_map">
  <strong class="hd">Statistics on World map</strong>

  <!-- map -->
  <div class="map_holder">
    <div class="pub_map_active" onmouseout="this.className='pub_map_active'; clear_all_pub();">

      <%= image_tag('empty.png', usemap: "#pub_map") %>

      <map name="pub_map" id="pub_map">

        <!-- north america -->
        <area shape="poly" coords="12,37,20,36,17,31,23,29,27,30,28,25,41,22,60,21,75,24,90,22,102,19,115,14,124,17,131,16,141,16,153,14,164,9,170,4,180,3,189,3,219,3,271,3,262,10,256,19,246,25,232,29,220,34,213,42,185,70,168,75,159,79,146,83,132,93,129,99,117,109,119,119,125,127,132,133,143,139,132,139,118,139,105,146,105,158,117,161,114,165,105,163,95,152,89,148,83,144,72,142,59,134,49,123,44,105,39,89,45,76,50,64,52,52,45,42,31,42,17,46,6,50,3,51,8,45" href="#" alt="" id="pub_map1">
        <!-- /north america -->

        <!-- south america -->
        <area shape="poly" coords="116,164,117,172,109,186,109,193,116,205,123,218,135,227,135,241,137,256,138,270,141,279,145,289,144,293,148,299,153,304,158,308,167,309,159,303,160,295,156,291,160,283,168,272,173,264,181,251,183,245,183,241,192,236,194,237,200,228,201,213,210,196,198,189,185,185,175,182,173,172,167,168,161,168,148,158,135,155,128,153" href="#" alt="" id="pub_map2">
        <!-- /south america -->

        <!-- eurasia -->
        <area shape="poly" coords="271,54,270,62,280,67,282,79,269,81,268,94,275,96,283,93,291,89,295,81,303,90,312,96,321,90,331,97,336,100,342,98,354,102,357,110,364,125,374,140,379,150,397,144,411,131,410,125,422,124,434,133,449,162,460,168,456,161,456,153,456,146,472,131,478,131,487,144,492,144,496,162,490,170,508,196,541,205,559,203,562,191,577,194,587,203,597,201,608,209,612,198,628,207,637,268,624,280,608,289,612,292,636,281,640,272,628,202,610,188,583,185,567,184,558,175,556,162,547,148,544,141,541,129,539,112,530,99,535,94,548,102,556,109,569,100,567,84,569,82,556,64,536,53,553,47,577,63,580,54,575,46,588,39,597,33,579,26,557,22,532,20,516,19,515,13,501,11,501,18,484,16,461,16,448,9,415,3,415,6,433,9,406,18,396,17,387,23,376,24,384,15,374,11,367,19,368,26,356,27,335,20,322,21,324,6,306,7,315,14,320,21,307,33,297,40,301,48,301,56,292,62,281,48,267,30,252,32,254,37,265,34,278,52" href="#" alt="" id="pub_map3">
        <!-- /eurasia -->

        <!-- africa -->
        <area shape="poly" coords="274,99,265,107,264,112,256,120,249,131,250,140,247,147,252,159,265,171,278,171,291,167,297,171,304,173,303,185,311,199,313,210,310,221,311,226,317,247,324,263,335,263,352,248,354,242,359,238,357,231,362,224,376,235,379,242,383,239,391,216,390,212,380,220,378,229,375,233,364,224,372,216,369,205,367,195,379,179,386,173,394,158,394,154,382,156,376,151,369,142,363,133,356,115,352,110,328,106,325,110,310,105,306,96,292,96" href="#" alt="" id="pub_map4">
        <!-- /africa -->

        <!-- australia -->
        <area shape="poly" coords="556,215,546,223,541,229,525,235,524,256,520,263,525,264,537,261,551,257,561,263,567,263,569,270,572,278,572,284,578,280,574,279,573,273,577,275,585,272,597,260,605,248,605,242,594,225,595,219,589,209,587,214,586,220,584,224,575,218,577,213,569,209,562,213,560,218" href="#" alt="" id="pub_map5">
        <!-- /australia -->

      </map>

    </div>

    <!-- statistics -->

    <!-- north america stat -->
    <div class="stat" id="pub_stat_1">
      <span class="corner3"></span>
      <strong>Notrh America</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /north america stat -->

    <!-- south america stat -->
    <div class="stat" id="pub_stat_2">
      <span class="corner3"></span>
      <strong>South America</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /south america stat -->

    <!-- eurasia stat -->
    <div class="stat" id="pub_stat_3">
      <span class="corner3"></span>
      <strong>Eurasia</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /eurasia stat -->

    <!-- africa stat -->
    <div class="stat" id="pub_stat_4">
      <span class="corner3"></span>
      <strong>Africa</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /africa stat -->

    <!-- australia stat -->
    <div class="stat" id="pub_stat_5">
      <span class="corner3"></span>
      <strong>Australia</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /australia stat -->

    <!-- /statistics -->

  </div>
  <!-- /map -->

</div>

</div>

</div>

</div>
<!-- /Publisher - Statistics -->

<!-- Publisher - Payments -->
<div id="pub-pay-tab-content" class="box inner-tab-content-js" style="display: none;">
  no info
</div>
<!-- /Publisher - Payments -->

<!-- Publisher - Settings -->
<div id="pub-config-tab-content" class="box inner-tab-content-js" style="display: none;">
  no info
</div>
<!-- /Publisher - Settings -->

</div>

</div>
<!-- /Publisher -->

<!-- Advertiser -->
<div id="advertiser-tab-content" class="box tab-content-js">

<div class="tabs-content">

<ul class="main_menu inner-tabs">
  <li data-target="#campaigns-tab-content" class="current"><a href="#" title=""><span class="m5"></span>Campaigns<b></b></a></li>
  <li data-target="#add-campaigns-tab-content"><a href="#" title=""><span class="m1"></span>Add campaign<b></b></a></li>
  <li data-target="#adv-stats-tab-content"><a href="#" title=""><span class="m2"></span>Statistics<b></b></a></li>
  <li data-target="#adv-pay-tab-content"><a href="#" title=""><span class="m3"></span>Payments<b></b></a></li>
  <li data-target="#adv-config-tab-content"><a href="#" title=""><span class="m4"></span>Settings<b></b></a></li>
</ul>

<!-- Advertiser - Campaigns -->
<div id="campaigns-tab-content" class="box inner-tab-content-js visible">

<div class="content_in">

<div class="headline">
  <h2>Campaings</h2>
  <p>There is should be short text that describe this control panel.</p>
</div>

<table class="tab tab_sm">
  <tbody><tr>
    <th>ID</th>
    <th>Name&nbsp;&amp;&nbsp;Domen<br>Start date</th>
    <th>Status</th>
    <th>Daily budget</th>
    <th>Campaign budget</th>
    <th>Type</th>
    <th>Cost</th>
    <th>Impressions</th>
    <th>Cliks</th>
    <th>CTR</th>
    <th>CPM</th>
    <th>CPC</th>
    <th>Total</th>
    <th colspan="3" class="stat_th">
      <span class="stat1"><b></b>- statistics</span>
      <span class="banners"><b></b>- banners</span>
    </th>
  </tr>
  <tr>
    <td rowspan="2"><small>234</small></td>
    <td rowspan="2" class="site_td">
      Website name 1<br>
      <a href="#" title="">websiter.com</a>
      <span>10.10.14</span>
    </td>
    <td rowspan="2"><span class="active_item">Active</span></td>
    <td rowspan="2">$355</td>
    <td rowspan="2">$355</td>
    <td rowspan="2">CPM</td>
    <td rowspan="2">$0.12 </td>
    <td rowspan="2">34535</td>
    <td rowspan="2">3453</td>
    <td rowspan="2">100%</td>
    <td rowspan="2">$34535</td>
    <td rowspan="2">$34535</td>
    <td rowspan="2">$453</td>
    <td class="icon_td"><a href="#" title="" class="stat2"></a></td>
    <td class="icon_td"><a href="#" title="" class="start2"></a></td>
    <td class="icon_td"><a href="#" title="" class="edit"></a></td>
  </tr>
  <tr>
    <td class="icon_td"><a href="#" title="" class="banners2"></a></td>
    <td class="icon_td"><a href="#" title="" class="pause"></a></td>
    <td class="icon_td"><a href="#" title="" class="delete3"></a></td>
  </tr>
  <tr>
    <td rowspan="2"><small>234</small></td>
    <td rowspan="2" class="site_td">
      Website name 1<br>
      <a href="#" title="">websiter.com</a>
      <span>10.10.14</span>
    </td>
    <td rowspan="2"><span class="paused_item">Paused</span></td>
    <td rowspan="2">$355</td>
    <td rowspan="2">$355</td>
    <td rowspan="2">CPM</td>
    <td rowspan="2">$0.12 </td>
    <td rowspan="2">657567</td>
    <td rowspan="2">657567</td>
    <td rowspan="2">100%</td>
    <td rowspan="2">$65756</td>
    <td rowspan="2">$65756</td>
    <td rowspan="2">$7567</td>
    <td class="icon_td"><a href="#" title="" class="stat2"></a></td>
    <td class="icon_td"><a href="#" title="" class="start2"></a></td>
    <td class="icon_td"><a href="#" title="" class="edit"></a></td>
  </tr>
  <tr>
    <td class="icon_td"><a href="#" title="" class="banners2"></a></td>
    <td class="icon_td"><a href="#" title="" class="pause"></a></td>
    <td class="icon_td"><a href="#" title="" class="delete3"></a></td>
  </tr>
  <tr>
    <td rowspan="2"><small>234</small></td>
    <td rowspan="2" class="site_td">
      Website name 1<br>
      <a href="#" title="">websiter.com</a>
      <span>10.10.14</span>
    </td>
    <td rowspan="2"><span class="finished_item">Finished</span></td>
    <td rowspan="2">$355</td>
    <td rowspan="2">$355</td>
    <td rowspan="2">CPM</td>
    <td rowspan="2">$0.12 </td>
    <td rowspan="2">657567</td>
    <td rowspan="2">657567</td>
    <td rowspan="2">100%</td>
    <td rowspan="2">$65756</td>
    <td rowspan="2">$65756</td>
    <td rowspan="2">$7567</td>
    <td class="icon_td"><a href="#" title="" class="stat2"></a></td>
    <td class="icon_td"><a href="#" title="" class="start2"></a></td>
    <td class="icon_td"><a href="#" title="" class="edit"></a></td>
  </tr>
  <tr>
    <td class="icon_td"><a href="#" title="" class="banners2"></a></td>
    <td class="icon_td"><a href="#" title="" class="pause"></a></td>
    <td class="icon_td"><a href="#" title="" class="delete3"></a></td>
  </tr>
  <tr>
    <td rowspan="2"><small>234</small></td>
    <td rowspan="2" class="site_td">
      Website name 1<br>
      <a href="#" title="">websiter.com</a>
      <span>10.10.14</span>
    </td>
    <td rowspan="2"><span class="rejected_item">Rejected</span></td>
    <td rowspan="2">$355</td>
    <td rowspan="2">$355</td>
    <td rowspan="2">CPM</td>
    <td rowspan="2">$0.12 </td>
    <td rowspan="2">5654</td>
    <td rowspan="2">5654</td>
    <td rowspan="2">100%</td>
    <td rowspan="2">$5654</td>
    <td rowspan="2">$5654</td>
    <td rowspan="2">$7567</td>
    <td class="icon_td"><a href="#" title="" class="stat2"></a></td>
    <td class="icon_td"><a href="#" title="" class="start2"></a></td>
    <td class="icon_td"><a href="#" title="" class="edit"></a></td>
  </tr>
  <tr>
    <td class="icon_td"><a href="#" title="" class="banners2"></a></td>
    <td class="icon_td"><a href="#" title="" class="pause"></a></td>
    <td class="icon_td"><a href="#" title="" class="delete3"></a></td>
  </tr>
  <tr>
    <td rowspan="2"><small>234</small></td>
    <td rowspan="2" class="site_td">
      Website name 1<br>
      <a href="#" title="">websiter.com</a>
      <span>10.10.14</span>
    </td>
    <td rowspan="2"><span class="active_item">Active</span></td>
    <td rowspan="2">$355</td>
    <td rowspan="2">$355</td>
    <td rowspan="2">CPM</td>
    <td rowspan="2">$0.12 </td>
    <td rowspan="2">34535</td>
    <td rowspan="2">3453</td>
    <td rowspan="2">100%</td>
    <td rowspan="2">$34535</td>
    <td rowspan="2">$34535</td>
    <td rowspan="2">$453</td>
    <td class="icon_td"><a href="#" title="" class="stat2"></a></td>
    <td class="icon_td"><a href="#" title="" class="start2"></a></td>
    <td class="icon_td"><a href="#" title="" class="edit"></a></td>
  </tr>
  <tr>
    <td class="icon_td"><a href="#" title="" class="banners2"></a></td>
    <td class="icon_td"><a href="#" title="" class="pause"></a></td>
    <td class="icon_td"><a href="#" title="" class="delete3"></a></td>
  </tr>
  <tr>
    <td rowspan="2"><small>234</small></td>
    <td rowspan="2" class="site_td">
      Website name 1<br>
      <a href="#" title="">websiter.com</a>
      <span>10.10.14</span>
    </td>
    <td rowspan="2"><span class="active_item">Active</span></td>
    <td rowspan="2">$355</td>
    <td rowspan="2">$355</td>
    <td rowspan="2">CPM</td>
    <td rowspan="2">$0.12 </td>
    <td rowspan="2">34535</td>
    <td rowspan="2">3453</td>
    <td rowspan="2">100%</td>
    <td rowspan="2">$34535</td>
    <td rowspan="2">$34535</td>
    <td rowspan="2">$453</td>
    <td class="icon_td"><a href="#" title="" class="stat2"></a></td>
    <td class="icon_td"><a href="#" title="" class="start2"></a></td>
    <td class="icon_td"><a href="#" title="" class="edit"></a></td>
  </tr>
  <tr>
    <td class="icon_td"><a href="#" title="" class="banners2"></a></td>
    <td class="icon_td"><a href="#" title="" class="pause"></a></td>
    <td class="icon_td"><a href="#" title="" class="delete3"></a></td>
  </tr>
  </tbody></table>

<ul class="page_nav">
  <li><a href="#" title="" class="prev_page"></a></li>
  <li><a href="#" title="" class="active">1</a></li>
  <li><a href="#" title="">2</a></li>
  <li><a href="#" title="">3</a></li>
  <li><a href="#" title="">4</a></li>
  <li><a href="#" title="">5</a></li>
  <li><a href="#" title="" class="next_page"></a></li>
</ul>

</div>

</div>
<!-- /Advertiser - Campaigns -->

<!-- Advertiser - Add campaing -->
<div id="add-campaigns-tab-content" class="box inner-tab-content-js">

<div class="content_in">

<div class="headline">
  <h2>Add campaign</h2>
  <p>There is should be short text that describe this control panel.</p>
</div>

<form action="./Traffic Exchange_files/Traffic Exchange.html" method="post" class="form" enctype="multipart/form-data">
<fieldset>
<div class="f1 float_l">
  <label>New campaing name</label>
  <input type="text" class="input" value="Glastonberry fest banner">

  <label>Campaing type</label>
  <select >
    <option>CPM</option>
    <option>CPM</option>
    <option>CPM</option>
  </select>
</div>
<div class="f2 float_l">
  <label>Start date</label>

  <input type="text" class="input inp_small date " id="">

  <label class="lab dis">End date</label>
  <input type="text" value="unlimited" class="input inp_small inp_dis date" id="datepicker_end" disabled="disabled">

  <span class="arrow_top"></span>
  <input type="checkbox" class="check" id="end_date" name="end_date">
  <span class="arrow_bottom arr_dis"></span>
</div>
<div class="clearing"></div>

<label>Geographical sources</label>
<div class="inp_source"><input type="text" class="input" value="Russia"></div>
<span class="delete"></span>
<div class="clearing"></div>


<div class="scroll_wrap">
  <div class="scrollblock" >

    <ul class="sources_list">
      <li><label class="label_check" for="check_1"><input name="check" id="check_1" value="1" type="checkbox">Russia</label></li>
      <li><label class="label_check" for="check_2"><input name="check" id="check_2" value="2" type="checkbox">USA</label></li>
      <li><label class="label_check" for="check_3"><input name="check" id="check_3" value="3" type="checkbox">Peru</label></li>
      <li><label class="label_check" for="check_4"><input name="check" id="check_4" value="4" type="checkbox">Indonesia</label></li>
      <li><label class="label_check" for="check_5"><input name="check" id="check_5" value="5" type="checkbox">Mexico</label></li>
      <li><label class="label_check" for="check_6"><input name="check" id="check_6" value="6" type="checkbox">Equador</label></li>
      <li><label class="label_check" for="check_7"><input name="check" id="check_7" value="7" type="checkbox">Litua</label></li>
      <li><label class="label_check" for="check_8"><input name="check" id="check_8" value="8" type="checkbox">Brasil</label></li>
      <li><label class="label_check" for="check_9"><input name="check" id="check_9" value="9" type="checkbox">Chile</label></li>
      <li><label class="label_check" for="check_10"><input name="check" id="check_10" value="10" type="checkbox">Australia</label></li>
      <li><label class="label_check" for="check_11"><input name="check" id="check_11" value="11" type="checkbox">Norway</label></li>
      <li><label class="label_check" for="check_12"><input name="check" id="check_12" value="12" type="checkbox">Italy</label></li>
      <li><label class="label_check" for="check_13"><input name="check" id="check_13" value="13" type="checkbox">Belarus</label></li>
      <li><label class="label_check" for="check_14"><input name="check" id="check_14" value="14" type="checkbox">Finland</label></li>
      <li><label class="label_check" for="check_15"><input name="check" id="check_15" value="15" type="checkbox">Spain</label></li>
      <li><label class="label_check" for="check_16"><input name="check" id="check_16" value="16" type="checkbox">Japan</label></li>
      <li><label class="label_check" for="check_17"><input name="check" id="check_17" value="17" type="checkbox">Denmark</label></li>
      <li><label class="label_check" for="check_18"><input name="check" id="check_18" value="18" type="checkbox">Portugal</label></li>
      <li><label class="label_check" for="check_19"><input name="check" id="check_19" value="19" type="checkbox">German</label></li>
      <li><label class="label_check" for="check_20"><input name="check" id="check_20" value="20" type="checkbox">China</label></li>
      <li><label class="label_check" for="check_21"><input name="check" id="check_21" value="21" type="checkbox">Cyprus</label></li>
      <li><label class="label_check" for="check_22"><input name="check" id="check_22" value="22" type="checkbox">UK</label></li>
      <li><label class="label_check" for="check_23"><input name="check" id="check_23" value="23" type="checkbox">Argentina</label></li>
      <li><label class="label_check" for="check_24"><input name="check" id="check_24" value="24" type="checkbox">Egypt</label></li>
      <li><label class="label_check" for="check_25"><input name="check" id="check_25" value="25" type="checkbox">Belarus</label></li>
      <li><label class="label_check" for="check_26"><input name="check" id="check_26" value="26" type="checkbox">Finland</label></li>
      <li><label class="label_check" for="check_27"><input name="check" id="check_27" value="27" type="checkbox">Spain</label></li>
      <li><label class="label_check" for="check_28"><input name="check" id="check_28" value="28" type="checkbox">Japan</label></li>
      <li><label class="label_check" for="check_29"><input name="check" id="check_29" value="29" type="checkbox">Denmark</label></li>
      <li><label class="label_check" for="check_30"><input name="check" id="check_30" value="30" type="checkbox">Portugal</label></li>
      <li><label class="label_check" for="check_31"><input name="check" id="check_31" value="31" type="checkbox">German</label></li>
      <li><label class="label_check" for="check_32"><input name="check" id="check_32" value="32" type="checkbox">China</label></li>
      <li><label class="label_check" for="check_33"><input name="check" id="check_33" value="33" type="checkbox">Belarus</label></li>
      <li><label class="label_check" for="check_34"><input name="check" id="check_34" value="34" type="checkbox">Belarus</label></li>
      <li><label class="label_check" for="check_35"><input name="check" id="check_35" value="35" type="checkbox">Belarus</label></li>
    </ul>


  </div>
</div>

<div class="choose_wrap">
  <span class="corner"></span>
  <div class="choose">
    <div class="choose_headline select_group">Choose the area</div>
    <ul>
      <li>
        <label for="area1">Eurasia</label>
        <input type="checkbox" id="area1" value="1" name="area">
      </li>
      <li class="grey">
        <label for="area2">North America</label>
        <input type="checkbox" id="area2" value="2" name="area">
      </li>
      <li>
        <label for="area3">South America</label>
        <input type="checkbox" id="area3" value="3" name="area">
      </li>
      <li class="grey">
        <label for="area4">Africa</label>
        <input type="checkbox" id="area4" value="4" name="area">
      </li>
      <li>
        <label for="area5">Australia</label>
        <input type="checkbox" id="area5" value="5" name="area">
      </li>
    </ul>
  </div>
  <div class="choose">
    <div class="choose_headline select_group">Choose the language</div>
    <ul>
      <li>
        <label for="lang1">English</label>
        <input type="checkbox" id="lang1" value="1" name="language">
      </li>
      <li class="grey">
        <label for="lang2">German</label>
        <input type="checkbox" id="lang2" value="2" name="language">
      </li>
      <li>
        <label for="lang3">French</label>
        <input type="checkbox" id="lang3" value="3" name="language">
      </li>
      <li class="grey">
        <label for="lang4">Spanish</label>
        <input type="checkbox" id="lang4" value="4" name="language">
      </li>
      <li>
        <label for="lang5">Russian</label>
        <input type="checkbox" id="lang5" value="5" name="language">
      </li>
    </ul>
  </div>
  <div class="choose no_bg">
    <div class="choose_headline">Choose the quality</div>
    <ul>
      <li>
        <label for="qual1">Best quality</label>
        <input type="checkbox" id="qual1" value="1" name="quality">
      </li>
      <li class="grey">
        <label for="qual2">High quality</label>
        <input type="checkbox" id="qual2" value="2" name="quality">
      </li>
      <li>
        <label for="qual3">Medium quality</label>
        <input type="checkbox" id="qual3" value="3" name="quality">
      </li>
      <li class="grey">
        <label for="qual4">Low quality </label>
        <input type="checkbox" id="qual4" value="4" name="quality">
      </li>
      <li>
        <label for="qual5">Cheap quality</label>
        <input type="checkbox" id="qual5" value="5" name="quality">
      </li>
    </ul>
  </div>
  <div class="clearing"></div>
</div>

<div class="f3 float_l">
  <label>Daily budget</label>
  <input type="text" class="input inp_small2 unlim" value="Unlimited">
  <span class="dollar"></span>
</div>
<div class="f3 float_l">
  <label>Campaign budget</label>
  <input type="text" class="input inp_small2 unlim" value="Unlimited">
  <span class="dollar"></span>
</div>
<div class="f3 float_l">
  <label>Number of views</label>
  <input type="text" class="input inp_small2" value="34000">
  <span class="views"></span>
</div>
<div class="clearing"></div>
<div class="f3 float_l">
  <label>Minimum cost</label>
  <input type="text" class="input inp_small2" value="0.35">
  <span class="dollar"></span>
</div>
<div class="f3 float_l">
  <label>Cost</label>
  <input type="text" class="input inp_small2" value="0.35">
  <span class="dollar"></span>
</div>
<div class="clearing"></div>

<div class="filters">

  <div class="filter">
    <span>Browser filter</span>
    <div class="filter_off"></div>
    <div class="filter_content">
      <div class="sources">
        <ul class="sources_list2">
          <li class="first-child">
            <input type="checkbox" name="sourse" value="1" id="browser_1" checked="">
            <label for="browser_1">internet explorer</label>
            <div class="clearing"></div>
          </li>
          <li>
            <input type="checkbox" name="sourse" value="2" id="browser_2" checked="">
            <label for="browser_2">firefox</label>
            <div class="clearing"></div>
          </li>
          <li>
            <input type="checkbox" name="sourse" value="3" id="browser_3">
            <label for="browser_3">chrome</label>
            <div class="clearing"></div>
          </li>
          <li class="last-child">
            <input type="checkbox" name="sourse" value="4" id="browser_other">
            <label for="browser_other">other</label>
            <div class="clearing"></div>
          </li>
        </ul>
        <div class="clearing"></div>
      </div>
    </div>
  </div>

  <div class="filter">
    <span>OS filter</span>
    <div class="filter_off"></div>
    <div class="filter_content">
      <div class="sources">
        <ul class="sources_list2">
          <li class="first-child">
            <input type="checkbox" name="sourse" value="1" id="os_1" checked="">
            <label for="os_1">windows</label>
            <div class="clearing"></div>
          </li>
          <li>
            <input type="checkbox" name="sourse" value="2" id="os_2" checked="">
            <label for="os_2">mac</label>
            <div class="clearing"></div>
          </li>
          <li>
            <input type="checkbox" name="sourse" value="3" id="os_3">
            <label for="os_3">linux</label>
            <div class="clearing"></div>
          </li>
          <li class="last-child">
            <input type="checkbox" name="sourse" value="4" id="os_other">
            <label for="os_other">other</label>
            <div class="clearing"></div>
          </li>
        </ul>
        <div class="clearing"></div>
      </div>
    </div>
  </div>

  <div class="filter scale">
    <span>Frequency</span>
    <div class="filter_off"></div>
    <div class="filter_content">
      <div class="track_bar">
        <div id="tr_1" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-max" style="width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
        <b class="r1">0</b>
        <b class="r2">24</b>
        <b class="r3">48</b>
      </div>
    </div>
  </div>

  <div class="filter">
    <label for="network">Run of network</label>
    <input type="checkbox" name="network" id="network" class="box2">
  </div>

</div>

<div class="sources source2">
  <strong class="hd">Category</strong>
  <ul class="sources_list2">
    <li class="first-child">
      <input type="checkbox" name="sourse" value="1" id="cat_sourse1" checked="">
      <label for="cat_sourse1">Webcams</label>
      <div class="clearing"></div>
    </li>
    <li>
      <input type="checkbox" name="sourse" value="2" id="cat_sourse2" checked="">
      <label for="cat_sourse2">Dating</label>
      <div class="clearing"></div>
    </li>
    <li>
      <input type="checkbox" name="sourse" value="3" id="cat_sourse3">
      <label for="cat_sourse3">Pay-acces</label>
      <div class="clearing"></div>
    </li>
    <li>
      <input type="checkbox" name="sourse" value="4" id="cat_sourse4">
      <label for="cat_sourse4">Tubes</label>
      <div class="clearing"></div>
    </li>
    <li>
      <input type="checkbox" name="sourse" value="5" id="cat_sourse5">
      <label for="cat_sourse5">SJ-Tubes</label>
      <div class="clearing"></div>
    </li>
    <li>
      <input type="checkbox" name="sourse" value="6" id="cat_sourse6">
      <label for="cat_sourse6">Gallery</label>
      <div class="clearing"></div>
    </li>
    <li>
      <input type="checkbox" name="sourse" value="7" id="cat_sourse7">
      <label for="cat_sourse7">Blogs</label>
      <div class="clearing"></div>
    </li>
    <li class="last-child">
      <input type="checkbox" name="sourse" value="8" id="cat_sourse8">
      <label for="cat_sourse8">Other</label>
      <div class="clearing"></div>
    </li>
  </ul>
  <div class="clearing"></div>

  <div class="choose_cat">
    <ul class="sources_list3 list_coll" style="overflow: hidden;">
      <div class="coll_s c_1" style="padding-left: 0px; float: left; clear: right;"><li><label class="label_check" for="cat1_1"><input name="check" id="cat1_1" value="1" type="checkbox">Amateur</label></li><li><label class="label_check" for="cat1_2"><input name="check" id="cat1_2" value="2" type="checkbox">Anal</label></li><li><label class="label_check" for="cat1_3"><input name="check" id="cat1_3" value="3" type="checkbox">Anime</label></li><li><label class="label_check" for="cat1_4"><input name="check" id="cat1_4" value="4" type="checkbox">Arab</label></li><li><label class="label_check" for="cat1_5"><input name="check" id="cat1_5" value="5" type="checkbox">Asian</label></li><li><label class="label_check" for="cat1_6"><input name="check" id="cat1_6" value="6" type="checkbox">Ass</label></li><li><label class="label_check" for="cat1_7"><input name="check" id="cat1_7" value="7" type="checkbox">Ass to Mouth</label></li><li><label class="label_check" for="cat1_8"><input name="check" id="cat1_8" value="8" type="checkbox">Babe</label></li><li><label class="label_check" for="cat1_9"><input name="check" id="cat1_9" value="9" type="checkbox">BBW</label></li></div>


      <div class="coll_s c_2" style="padding-left: 0px; float: left; clear: right;"><li><label class="label_check" for="cat1_10"><input name="check" id="cat1_10" value="10" type="checkbox">Amateur</label></li><li><label class="label_check" for="cat1_11"><input name="check" id="cat1_11" value="11" type="checkbox">Anal</label></li><li><label class="label_check" for="cat1_12"><input name="check" id="cat1_12" value="12" type="checkbox">Anime</label></li><li><label class="label_check" for="cat1_13"><input name="check" id="cat1_13" value="13" type="checkbox">Arab</label></li><li><label class="label_check" for="cat1_14"><input name="check" id="cat1_14" value="14" type="checkbox">Asian</label></li><li><label class="label_check" for="cat1_15"><input name="check" id="cat1_15" value="15" type="checkbox">Ass</label></li><li><label class="label_check" for="cat1_16"><input name="check" id="cat1_16" value="16" type="checkbox">Ass to Mouth</label></li><li><label class="label_check" for="cat1_17"><input name="check" id="cat1_17" value="17" type="checkbox">Babe</label></li></div>


      <div class="coll_s c_3" style="padding-left: 0px; float: left; clear: right;"><li><label class="label_check" for="cat1_18"><input name="check" id="cat1_18" value="18" type="checkbox">BBW</label></li><li><label class="label_check" for="cat1_19"><input name="check" id="cat1_19" value="19" type="checkbox">Amateur</label></li><li><label class="label_check" for="cat1_20"><input name="check" id="cat1_20" value="20" type="checkbox">Anal</label></li><li><label class="label_check" for="cat1_21"><input name="check" id="cat1_21" value="21" type="checkbox">Anime</label></li><li><label class="label_check" for="cat1_22"><input name="check" id="cat1_22" value="22" type="checkbox">Arab</label></li><li><label class="label_check" for="cat1_23"><input name="check" id="cat1_23" value="23" type="checkbox">Asian</label></li><li><label class="label_check" for="cat1_24"><input name="check" id="cat1_24" value="24" type="checkbox">Ass</label></li><li><label class="label_check" for="cat1_25"><input name="check" id="cat1_25" value="25" type="checkbox">Ass to Mouth</label></li></div>


      <div class="coll_s c_4" style="padding-left: 0px; float: left; clear: right;"><li><label class="label_check" for="cat1_26"><input name="check" id="cat1_26" value="26" type="checkbox">Babe</label></li><li><label class="label_check" for="cat1_27"><input name="check" id="cat1_27" value="27" type="checkbox">BBW</label></li><li><label class="label_check" for="cat1_28"><input name="check" id="cat1_28" value="28" type="checkbox">Amateur</label></li><li><label class="label_check" for="cat1_29"><input name="check" id="cat1_29" value="29" type="checkbox">Anal</label></li><li><label class="label_check" for="cat1_30"><input name="check" id="cat1_30" value="30" type="checkbox">Anime</label></li><li><label class="label_check" for="cat1_31"><input name="check" id="cat1_31" value="31" type="checkbox">Arab</label></li><li><label class="label_check" for="cat1_32"><input name="check" id="cat1_32" value="32" type="checkbox">Asian</label></li><li><label class="label_check" for="cat1_33"><input name="check" id="cat1_33" value="33" type="checkbox">Ass</label></li></div>


      <div class="coll_s c_5" style="padding-left: 0px; float: left; clear: right;"><li><label class="label_check" for="cat1_34"><input name="check" id="cat1_34" value="34" type="checkbox">Ass to Mouth</label></li><li><label class="label_check" for="cat1_35"><input name="check" id="cat1_35" value="35" type="checkbox">Babe</label></li><li><label class="label_check" for="cat1_36"><input name="check" id="cat1_36" value="36" type="checkbox">BBW</label></li><li><label class="label_check" for="cat1_37"><input name="check" id="cat1_37" value="37" type="checkbox">Ass to Mouth</label></li><li><label class="label_check" for="cat1_38"><input name="check" id="cat1_38" value="38" type="checkbox">Babe</label></li><li><label class="label_check" for="cat1_39"><input name="check" id="cat1_39" value="39" type="checkbox">BBW</label></li><li><label class="label_check" for="cat1_40"><input name="check" id="cat1_40" value="40" type="checkbox">Amateur</label></li><li><label class="label_check" for="cat1_41"><input name="check" id="cat1_41" value="41" type="checkbox">Anal</label></li></div>


      <div class="coll_s c_6" style="padding-left: 0px; float: left; clear: right;"><li><label class="label_check" for="cat1_42"><input name="check" id="cat1_42" value="42" type="checkbox">Anime</label></li><li><label class="label_check" for="cat1_43"><input name="check" id="cat1_43" value="43" type="checkbox">Arab</label></li><li><label class="label_check" for="cat1_44"><input name="check" id="cat1_44" value="44" type="checkbox">Asian</label></li><li><label class="label_check" for="cat1_45"><input name="check" id="cat1_45" value="45" type="checkbox">Ass</label></li><li><label class="label_check" for="cat1_46"><input name="check" id="cat1_46" value="46" type="checkbox">Ass to Mouth</label></li><li><label class="label_check" for="cat1_47"><input name="check" id="cat1_47" value="47" type="checkbox">Babe</label></li><li><label class="label_check" for="cat1_48"><input name="check" id="cat1_48" value="48" type="checkbox">BBW</label></li><li><label class="label_check" for="cat1_49"><input name="check" id="cat1_49" value="49" type="checkbox">Amateur</label></li></div>


      <div class="coll_s c_7" style="padding-left: 0px; float: left; clear: right;"><li><label class="label_check" for="cat1_50"><input name="check" id="cat1_50" value="50" type="checkbox">Anal</label></li><li><label class="label_check" for="cat1_51"><input name="check" id="cat1_51" value="51" type="checkbox">Anime</label></li><li><label class="label_check" for="cat1_52"><input name="check" id="cat1_52" value="52" type="checkbox">Arab</label></li><li><label class="label_check" for="cat1_53"><input name="check" id="cat1_53" value="53" type="checkbox">Asian</label></li><li><label class="label_check" for="cat1_54"><input name="check" id="cat1_54" value="54" type="checkbox">Ass</label></li><li><label class="label_check" for="cat1_55"><input name="check" id="cat1_55" value="55" type="checkbox">Ass to Mouth</label></li><li><label class="label_check" for="cat1_56"><input name="check" id="cat1_56" value="56" type="checkbox">Babe</label></li><li><label class="label_check" for="cat1_57"><input name="check" id="cat1_57" value="57" type="checkbox">BBW</label></li></div>







    </ul>
  </div>
</div>

<div class="banner">
  <strong class="hd">Upload banners</strong>
  <ul class="size_list">
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="468 x 60">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="250 x 250">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="240 x 400">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="728 x 90">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="160 x 600">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="234 x 60">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="336 x 280">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="120 x 600">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="180 x 150">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="300 x 250">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="120 x 240">
      </div>
    </li>
    <li>
      <input type="file" name="photo" class="fileInput">
      <div class="mask">
        <input type="text" class="fileInputText" value="125 x 125">
      </div>
    </li>
  </ul>
  <div class="clearing"></div>

  <div class="banners_block">
    <div class="banner_prev">
      <%= image_tag('banners/banner_728x90.jpg') %>
      <span>728 x 90</span>
    </div>
    <div class="banner_prev">
      <%= image_tag('banners/banner_250x250.jpg') %>
      <span>250 x 250</span>
    </div>
    <div class="banner_prev">
      <%= image_tag('banners/banner_468x60.jpg') %>
      <span>468 x 60</span>
    </div>
    <div class="banner_prev">
      <%= image_tag('banners/banner_180x150.jpg') %>
      <span>180 x 150</span>
    </div>
    <div class="banner_prev">
      <%= image_tag('banners/banner_125x125.jpg') %>
      <span>125 x 125</span>
    </div>
    <div class="clearing"></div>
  </div>
</div>

<div class="start">
  <input type="checkbox" name="campaing" value="1" checked="" id="campaing">
  <label for="campaing">Start campaing when approved</label>
</div>
<div class="clearing"></div>
</fieldset>
<div class="b10"><input type="submit" class="button" value="Create campaing"></div>
</form>

</div>

</div>
<!-- /Advertiser - Add campaing -->

<!-- Advertiser - Statistics -->
<div id="adv-stats-tab-content" class="box inner-tab-content-js">

<div class="content_in">

<div class="headline">
  <h2>Statistics</h2>
</div>
<div class="total">
  <span>Total views:  37.000</span>
  <span>Total clicks: 2000</span>
  <span>CRT: 10%</span>
</div>
<div class="clearing"></div>

<div class="stat_content">

<div class="f4 float_l">
  <label>Choose campaing</label>
  <div class="sel2">
    <select >
      <option>Campaing Name</option>
      <option>Campaing Name 2</option>
      <option>Campaing Name 3</option>
    </select>
  </div>
</div>
<div class="f4 float_l">
  <label>Period</label>
  <input type="text" class="input inp_small date" id="">
  <input type="text" class="input inp_small date" id="">
  <div class="sel4">
    <select >
      <option>Last 7 days</option>
      <option>Last 10 days</option>
      <option>Last 15 days</option>
    </select>
  </div>
</div>

<div class="clearing"></div>

<div class="stat_grafic">
  <%= image_tag('temp/stat.jpg') %>
</div>
<div class="butn_group">
  <a href="#" title="" class="button b1"><span></span>Impressions</a>
  <a href="#" title="" class="button b3"><span></span>Clicks</a>
  <a href="#" title="" class="button b4"><span></span>CRT</a>
</div>

<div class="tab2">
  <table>
    <tbody><tr>
      <th>OS</th>
      <th>Visits</th>
    </tr>
    <tr>
      <td><span class="os1"></span>Windows XP</td>
      <td>1234 (51%)</td>
    </tr>
    <tr>
      <td><span class="os2"></span>Windows 7</td>
      <td>453 (18%)</td>
    </tr>
    <tr>
      <td><span class="os3"></span>Windows Vista</td>
      <td>245 (9%)</td>
    </tr>
    <tr>
      <td><span class="os4"></span>Linux</td>
      <td>123 (4%)</td>
    </tr>
    <tr>
      <td><span class="os5"></span>Mac OS</td>
      <td>43 (2%)</td>
    </tr>
    <tr>
      <td><span class="os6"></span>Other</td>
      <td>23 (1%)</td>
    </tr>
    </tbody></table>
</div>
<div class="tab2">
  <table>
    <tbody><tr>
      <th>Browser</th>
      <th>Visits</th>
    </tr>
    <tr>
      <td><span class="os1"></span>Internet Explorer</td>
      <td>1234 (51%)</td>
    </tr>
    <tr>
      <td><span class="os2"></span>Chrome</td>
      <td>453 (18%)</td>
    </tr>
    <tr>
      <td><span class="os3"></span>Firefox</td>
      <td>245 (9%)</td>
    </tr>
    <tr>
      <td><span class="os4"></span>Opera</td>
      <td>123 (4%)</td>
    </tr>
    <tr>
      <td><span class="os5"></span>Safari</td>
      <td>43 (2%)</td>
    </tr>
    <tr>
      <td><span class="os6"></span>Other</td>
      <td>23 (1%)</td>
    </tr>
    </tbody></table>
</div>
<div class="clearing"></div>

<div class="grafics_wrap">
  <div class="stat_grafic2" id="container2" style="height: 300px; max-width: 600px;" data-highcharts-chart="0">
  </div>
  <div class="stat_grafic2" id="container3" style="height: 300px; max-width: 600px;" data-highcharts-chart="1">
  </div>
  <div class="clearing"></div>
</div>

<div class="grafics_tab">
  <table class="tab tab3">
    <tbody><tr>
      <th>Date</th>
      <th>Name</th>
      <th>Type</th>
      <th>Cost</th>
      <th>Impressions</th>
      <th>Cliks</th>
      <th>CRT</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    </tbody></table>
  <ul class="page_nav">
    <li><a href="#" title="" class="prev_page"></a></li>
    <li><a href="#" title="" class="active">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
    <li><a href="#" title="" class="next_page"></a></li>
  </ul>
</div>

<div class="geography">
  <strong class="hd">Geography</strong>
  <table class="tab tab3">
    <tbody><tr>
      <th>Country</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>CRT</th>
      <th>Price</th>
      <th>Total spend</th>
    </tr>
    <tr>
      <td>Russia</td>
      <td>Moscow</td>
      <td>124</td>
      <td>23%</td>
      <td>$623</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Ukraine</td>
      <td>Kiev</td>
      <td>232</td>
      <td>21%</td>
      <td>124</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>United Kingdom</td>
      <td>London</td>
      <td>122</td>
      <td>12%</td>
      <td>78</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Tailand</td>
      <td>Samui</td>
      <td>122</td>
      <td>12%</td>
      <td>78</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>New Zeland</td>
      <td>Wellington</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Belarus</td>
      <td>Minsk</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Russia</td>
      <td>Saint-Petersburg</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Tailand</td>
      <td>Samui</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    </tbody></table>
  <ul class="page_nav">
    <li><a href="#" title="" class="prev_page"></a></li>
    <li><a href="#" title="" class="active">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
    <li><a href="#" title="" class="next_page"></a></li>
  </ul>
</div>

<div class="world_map">
  <strong class="hd">Statistics on World map</strong>

  <!-- map -->
  <div class="map_holder">
    <div class="map_active" onmouseout="this.className='map_active'; clear_all();">

      <%= image_tag('empty.png', usemap: "#map") %>
      <map name="map" id="map">

        <!-- north america -->
        <area shape="poly" coords="12,37,20,36,17,31,23,29,27,30,28,25,41,22,60,21,75,24,90,22,102,19,115,14,124,17,131,16,141,16,153,14,164,9,170,4,180,3,189,3,219,3,271,3,262,10,256,19,246,25,232,29,220,34,213,42,185,70,168,75,159,79,146,83,132,93,129,99,117,109,119,119,125,127,132,133,143,139,132,139,118,139,105,146,105,158,117,161,114,165,105,163,95,152,89,148,83,144,72,142,59,134,49,123,44,105,39,89,45,76,50,64,52,52,45,42,31,42,17,46,6,50,3,51,8,45" href="#" alt="" id="map1">
        <!-- /north america -->

        <!-- south america -->
        <area shape="poly" coords="116,164,117,172,109,186,109,193,116,205,123,218,135,227,135,241,137,256,138,270,141,279,145,289,144,293,148,299,153,304,158,308,167,309,159,303,160,295,156,291,160,283,168,272,173,264,181,251,183,245,183,241,192,236,194,237,200,228,201,213,210,196,198,189,185,185,175,182,173,172,167,168,161,168,148,158,135,155,128,153" href="#" alt="" id="map2">
        <!-- /south america -->

        <!-- eurasia -->
        <area shape="poly" coords="271,54,270,62,280,67,282,79,269,81,268,94,275,96,283,93,291,89,295,81,303,90,312,96,321,90,331,97,336,100,342,98,354,102,357,110,364,125,374,140,379,150,397,144,411,131,410,125,422,124,434,133,449,162,460,168,456,161,456,153,456,146,472,131,478,131,487,144,492,144,496,162,490,170,508,196,541,205,559,203,562,191,577,194,587,203,597,201,608,209,612,198,628,207,637,268,624,280,608,289,612,292,636,281,640,272,628,202,610,188,583,185,567,184,558,175,556,162,547,148,544,141,541,129,539,112,530,99,535,94,548,102,556,109,569,100,567,84,569,82,556,64,536,53,553,47,577,63,580,54,575,46,588,39,597,33,579,26,557,22,532,20,516,19,515,13,501,11,501,18,484,16,461,16,448,9,415,3,415,6,433,9,406,18,396,17,387,23,376,24,384,15,374,11,367,19,368,26,356,27,335,20,322,21,324,6,306,7,315,14,320,21,307,33,297,40,301,48,301,56,292,62,281,48,267,30,252,32,254,37,265,34,278,52" href="#" alt="" id="map3">
        <!-- /eurasia -->

        <!-- africa -->
        <area shape="poly" coords="274,99,265,107,264,112,256,120,249,131,250,140,247,147,252,159,265,171,278,171,291,167,297,171,304,173,303,185,311,199,313,210,310,221,311,226,317,247,324,263,335,263,352,248,354,242,359,238,357,231,362,224,376,235,379,242,383,239,391,216,390,212,380,220,378,229,375,233,364,224,372,216,369,205,367,195,379,179,386,173,394,158,394,154,382,156,376,151,369,142,363,133,356,115,352,110,328,106,325,110,310,105,306,96,292,96" href="#" alt="" id="map4">
        <!-- /africa -->

        <!-- australia -->
        <area shape="poly" coords="556,215,546,223,541,229,525,235,524,256,520,263,525,264,537,261,551,257,561,263,567,263,569,270,572,278,572,284,578,280,574,279,573,273,577,275,585,272,597,260,605,248,605,242,594,225,595,219,589,209,587,214,586,220,584,224,575,218,577,213,569,209,562,213,560,218" href="#" alt="" id="map5">
        <!-- /australia -->

      </map>

    </div>

    <!-- statistics -->

    <!-- north america stat -->
    <div class="stat" id="stat_1">
      <span class="corner3"></span>
      <strong>Notrh America</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /north america stat -->

    <!-- south america stat -->
    <div class="stat" id="stat_2">
      <span class="corner3"></span>
      <strong>South America</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /south america stat -->

    <!-- eurasia stat -->
    <div class="stat" id="stat_3">
      <span class="corner3"></span>
      <strong>Eurasia</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /eurasia stat -->

    <!-- africa stat -->
    <div class="stat" id="stat_4">
      <span class="corner3"></span>
      <strong>Africa</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /africa stat -->

    <!-- australia stat -->
    <div class="stat" id="stat_5">
      <span class="corner3"></span>
      <strong>Australia</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /australia stat -->

    <!-- /statistics -->

  </div>
  <!-- /map -->

</div>

</div>

</div>

</div>
<!-- /Advertiser - Statistics -->

<!-- Advertiser - Payments -->
<div id="adv-pay-tab-content" class="box inner-tab-content-js">

  <div class="content_in">

    <div class="headline">
      <h2>Payments</h2>
      <p>There is should be short text that describe this control panel.</p>
    </div>

    <table class="tab tab3">
      <tbody><tr>
        <th>ID&nbsp;/&nbsp;Date</th>
        <th>Status</th>
        <th>Completed</th>
        <th>Payment Method</th>
        <th>Fee</th>
        <th>Balance</th>
      </tr>
      <tr>
        <td><a href="#" title="">234</a>&nbsp;/&nbsp;10.10.14</td>
        <td><span class="rejected_item2"><b></b>Rejected</span></td>
        <td>17.10.2014</td>
        <td>Visa Mastercard</td>
        <td>$355</td>
        <td>$355</td>
      </tr>
      <tr>
        <td><a href="#" title="">234</a>&nbsp;/&nbsp;10.10.14</td>
        <td><span class="done_item"><b></b>Done</span></td>
        <td>17.10.2014</td>
        <td>WebMoney transfer</td>
        <td>$355</td>
        <td>$355</td>
      </tr>
      <tr>
        <td><a href="#" title="">234</a>&nbsp;/&nbsp;10.10.14</td>
        <td><span class="process_item"><b></b>In process</span></td>
        <td>17.10.2014</td>
        <td>Visa Electron</td>
        <td>$355</td>
        <td>$355</td>
      </tr>
      <tr>
        <td><a href="#" title="">234</a>&nbsp;/&nbsp;10.10.14</td>
        <td><span class="rejected_item2"><b></b>Rejected</span></td>
        <td>17.10.2014</td>
        <td>Yandex.Money</td>
        <td>$355</td>
        <td>$355</td>
      </tr>
      <tr>
        <td><a href="#" title="">234</a>&nbsp;/&nbsp;10.10.14</td>
        <td><span class="done_item"><b></b>Done</span></td>
        <td>17.10.2014</td>
        <td>Visa Mastercard</td>
        <td>$355</td>
        <td>$355</td>
      </tr>
      <tr>

        <td><a href="#" title="">234</a>&nbsp;/&nbsp;10.10.14</td>
        <td><span class="process_item"><b></b>In process</span></td>
        <td>17.10.2014</td>
        <td>Visa Mastercard</td>
        <td>$355</td>
        <td>$355</td>
      </tr>
      </tbody></table>

    <ul class="page_nav">
      <li><a href="#" title="" class="prev_page"></a></li>
      <li><a href="#" title="" class="active">1</a></li>
      <li><a href="#" title="">2</a></li>
      <li><a href="#" title="">3</a></li>
      <li><a href="#" title="">4</a></li>
      <li><a href="#" title="">5</a></li>
      <li><a href="#" title="" class="next_page"></a></li>
    </ul>

    <div class="pay_request">
      <form action="./Traffic Exchange_files/Traffic Exchange.html" method="post" class="form">
        <fieldset>
          <h2>Payment request</h2>
          <div class="form_in2">
            <label>Value</label>
            <input type="text" value="1234 $" class="input">
          </div>
          <div class="form_in2">
            <label>Payment method</label>
            <div class="sel3">
              <select >
                <option>Visa Mastercard</option>
              </select>
            </div>
          </div>
          <a href="#" title="Proceed" class="button b11"><span class="proceed_icon"></span>Proceed</a>
          <div class="clearing"></div>
        </fieldset>
      </form>
    </div>

  </div>

</div>
<!-- /Advertiser - Payments -->

<!-- Advertiser - Settings -->
<div id="adv-config-tab-content" class="box inner-tab-content-js">

  <div class="content_in">

    <div class="headline">
      <h2>Settings</h2>
      <p>There is should be short text that describe this control panel.</p>
    </div>

    <form action="./Traffic Exchange_files/Traffic Exchange.html" method="post" class="form">
      <fieldset>
        <label>Name</label>
        <input type="text" class="input" value="John Doe">

        <label>E-mail</label>
        <input type="text" class="input" value="johnd@gmail.com">

        <label>Skype</label>
        <input type="text" class="input">

        <label>Jabber</label>
        <input type="text" class="input">

        <label>Payments information</label>
        <textarea rows="10" cols="10" class="textarea"></textarea>

        <label>Password</label>
        <input type="password" class="input">

        <label>Password</label>
        <input type="password" class="input">
      </fieldset>
      <div><input type="submit" class="button" value="Save &amp; Update"></div>
    </form>

  </div>

</div>
<!-- /Advertiser - Settings -->

</div>

</div>
<!-- /Advertiser -->

<!-- Affilate -->
<div id="affilate-tab-content" class="box tab-content-js">
  no info
</div>
<!-- /Affilate -->

</div>
<!-- /middle column -->

<!-- right panel -->
<div class="right_panel" style="height: 925px;">
  <div class="user_navig">
    <div class="username"><span></span><a href="#" title="">User Name</a></div>
    <div class="status"><span></span>Status — Active</div>
    <div class="payments"><span></span><a href="#" title="">Your payments: 8931 $</a></div>
  </div>
  <div class="right_info">
    <h4>Advanced info</h4>
    <p>2 Active campaigns<br>
      1 Paused campaigns</p>
    <p>Today earn 2.3 $<br>
      Yesterday earn 1.3 $<br>
      Last week earn 25.4 $<br>
      Total earn 245 $ </p>
    <p>Today traffic 234<br>
      Total traffic 345</p>
  </div>
</div>
<!-- /right panel -->

</div>
<!-- /content -->
