<!-- login / login modal -->
  <div class="hd5">Login</div>
  <%= image_tag 'pp_logo.png', class: 'pp_logo' %>

<% remote = (defined? remote_sign_in) && remote_sign_in  %>

<form action="<%= login_users_path(format: remote ? :json : nil) %>" method="post" id="sign_in" class="sign_form" <%= remote ? 'data-remote="true"' : '' %> data-validate="true" data-action="users_login">
<fieldset>
  <div class="form_in">
    <label>Login:</label>
    <input type="text" class="input" name="user[username]" autocomplete="off"  value="<%= user.username %>">

    <label>Password:</label>
    <input type="password" class="input" name="user[password]" autocomplete="off"  value="<%= user.password %>">


    <label>Your Role:</label>
    <select type="text" class="input" autocomplete="off" name="user[role]" value="<%= user.role %>">
      <option value=""></option>
      <option <%= "#{'selected' if user.role_advertiser?}"%> value="ADVERTISER">ADVERTISER</option>
      <option <%= "#{'selected' if user.role_publisher?}"%> value="PUBLISHER">PUBLISHER</option>
    </select>
    <!--<label>Confirm password:</label>-->
    <!--<input type="password" class="input">-->

    <div class="checks2">
      <label class="label_check" for="rem"><input name="remember" id="rem" value="1" type="checkbox" checked=""><span>Remember?</span></label>
      <a id="forgot_password" href="#" title="">Forgot password</a>
    </div>
  </div>
</fieldset>
<div class="but5">
  <input type="submit" value="Login" class="button b9">
</div>
</form>
<!-- /login modal -->
