<!-- sign up / sign up modal -->
<div class="hd5">Sign Up</div>
<%= image_tag 'pp_logo.png', class: 'pp_logo' %>

<% remote = (defined? remote_sign_up) && remote_sign_up %>

<form action="<%= users_path(format: remote ? :json : nil) %>" method="post" id="sign_up" class="sign_form " data-validate="true" <%= remote ? 'data-remote="true"' : '' %> data-action="users_create">
  <fieldset>
    <div class="form_in">

      <label>Login:*</label>
      <input type="text" class="input" autocomplete="off" name="user[username]" value="<%= user.username %>">

      <label>Email:*</label>
      <input type="text" class="input" autocomplete="off" name="user[email]" value="<%= user.email %>">

      <label>Password:*</label>
      <input type="password" class="input" autocomplete="off"  name="user[password]" value="<%= user.password %>">

      <label>Confirm password:*</label>
      <input type="password" class="input" autocomplete="off" name="user[password_confirmation]" >

      <label>Choose your role:*</label>
      <select type="text" class="input" autocomplete="off" name="user[role]" value="<%= user.role %>">
        <option value="ADVERTISER">ADVERTISER</option>
        <option value="PUBLISHER">PUBLISHER</option>
      </select>

      <label>Phone:*</label>
      <input type="text" placeholder="+22(345)7891012" class="input" autocomplete="off" name="user[phone]" value="<%= user.phone %>">

      <label>First Name:*</label>
      <input type="text" class="input" autocomplete="off" name="user[firstName]" value="<%= user.firstName %>">

      <label>Last Name:*</label>
      <input type="text" class="input" autocomplete="off" name="user[lastName]" value="<%= user.lastName %>">

      <label>Website Url:*</label>
      <input type="text" class="input" autocomplete="off" name="user[websiteUrl]" placeholder="http://google.com" value="<%= user.websiteUrl %>">


      <!--<label>Company name:</label>-->
      <!--<input type="text" class="input" name="company">-->

      <!--<label>Country:</label>-->
      <!--<input type="text" class="input" name="country">-->

      <!--<label>State:</label>-->
      <!--<input type="text" class="input" name="state">-->

      <div class="checks">
        <input type="checkbox" id="note"  name="user[notify]"><label for="note">System notification</label>
        <input type="checkbox" id="newsletter" name="user[newsletter]"><label for="newsletter">Free newsletter</label>
      </div>
    </div>

    <p>Start the Traffic Exchange experience today!</p>
  </fieldset>
  <div class="but5">
    <input type="submit" value="Sign Up" class="button b9">
  </div>
</form>

