@import "../mixins";

/*############ sign up, login ########### */

.hd5{
  background: image-url('sprite_all.png') no-repeat 0 -190px;
  height:32px;
  margin:0 auto;
  text-align:center;
  color:#ffffff;
  font:normal 17px/17px Arial, Helvetica, sans-serif;
  text-shadow:1px 1px #2a63a9;
  position:relative;
  top:-9px;
  margin-bottom:-9px;
  padding:13px 0 0;
  width:140px;
}

.pp_logo{
  display:block;
  margin:3px auto 17px;
}

.sign_form{
  background: image-url('spr.png') repeat-x top;
  padding:9px 0 0;
}

.form_in{
  margin:0 auto;
  width:317px;
}

.sign_form label{
  display:block;
  font-size:15px;
  padding-bottom:5px;
}

.form_in .input{
  margin-bottom:11px;
  width:295px;
}

.checks{
  padding:8px 0 0;
  display:table;
  width:100%;
}

.checks input{
  float:left;
  margin-right:8px;
  margin-left:20px;
  position:relative;
  top:3px;
}

.sign_form .checks label{
  color:#545c63;
  font-size:12px;
  float:left;
  margin-right:18px;
}

.but5{
  text-align:center;
  padding:13px 0 0;
}

.b9{
  background:#6590e0;
  border:2px solid #6590e0;
  font:normal 15px/15px Arial, Helvetica, sans-serif;
  text-shadow:1px 1px #3d76b9;
  margin:0 auto;
  padding-left:0px;
  padding-right:0px;
  behavior: url("");
  width:107px;
}
.b9:hover{
  border:2px solid #6590e0;
  background:none;
  color:#4871c7;
  text-shadow:none;
}

.sign_form p{
  color:#ff5400;
  font-size:16px;
  line-height:16px;
  text-align:center;
  padding:9px 0 0;
}

.checks2{
  display:table;
  width:100%;
  padding-bottom:4px;
}

.checks2 a{
  text-decoration:none;
  color:#646464;
  font-size:12px;
  border-bottom:1px dashed #646464;
  position:relative;
  margin:5px 0 0;
  float:left;
  display:block;
}
.checks2 a:hover{
  border:0px;
}

.has-js .checks2 .label_check{
  height:auto;
  width:auto;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  padding:0 0 0 48px;
  cursor:pointer;
  float:left;
  margin:5px 57px 0 21px;
}

.has-js .checks2 .label_check span{
  color:#9e9e9e;
  font:normal 12px/12px Tahoma, Geneva, sans-serif;
  border-bottom:1px dashed #9e9e9e;
  position:relative;
  top:-3px;
}

.has-js .checks2 .label_check span:hover{
  border:0px;
}

.has-js .checks2 .label_check {
  background: image-url('checkbox.png') no-repeat 0 -33px;
  min-height: 18px;
}

.has-js .checks2 .label_check:hover {
  background: image-url('checkbox.png') no-repeat 0 -33px;
}

.has-js .checks2 label.c_on:hover {
  background: image-url('checkbox.png') no-repeat 0 0px;
}

.has-js .checks2 label.c_on {
  background: image-url('checkbox.png') no-repeat 0 0;
  min-height: 18px;
}

.has-js .checks2 label.c_on span{
  color:#646464;
  border-bottom-color:#646464;
}

.auth_static_wrapper {
  width: 400px;
  background: #F4F7F4;
  margin: 40px auto;
  padding-bottom: 30px;
}

// hide forgot_password
.sign_form {
  .checks2 {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    .label_check {
      margin: 5px 0px 0 0px;
    }
  }
  #forgot_password {
    display: none;
  }

}

/*############ /sign up, login ########### */
