@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic-ext);
* {
  margin: 0;
}

html, body {
  height: 100%;
}

body{
    background: #ffffff image-url('bg.png') repeat;
	color:#3e3e3e;
	font:normal 14px/20px Tahoma, Geneva, sans-serif;
	margin:0px;	
	padding:0px;
  overflow-y:scroll;
}

.inner_body{
  background:#ffffff;
}

table, tr, td{
	border:none;
	margin:0px;
	padding:0px;
} 

table{
	border-collapse:collapse;
}

img, button{
	border:0px;
	outline:none;
}

a{
	color:#3e3e3e;
	font:normal 14px Tahoma, Geneva, sans-serif;
	outline:none;
	text-decoration:underline;
}
a:hover{
	text-decoration:none;
}

p, h1, h2, h3, h4, h5, h6, fieldset, form, input, textarea, header, nav, section, article, aside, footer{
	margin:0px;
	padding:0px;
  display: block;
}

h1{
	color:#ffffff;
  font:normal 50px/50px HelveticaNeueLTStdLtCn, Arial, Helvetica, sans-serif;
}

h2{
  color:#3e3e3e;
  font:normal 24px/25px Tahoma, Geneva, sans-serif;
}

h3{
  color:#143e5a;
  font:normal 18px/19px Tahoma, Geneva, sans-serif;
}

h4{
	color:#0d324b;
  font:normal 18px/19px Tahoma, Geneva, sans-serif;
}

h5{
	
}

h6{
	
}

ul, li, ol{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

fieldset{
	border:none;
}

textarea{
	overflow:auto;
	outline:none;
  resize:none;
}

input, select{
	outline:none;
}

.clearing{
	clear:both;
	height:0px;
	font-size:0px;
}

.float_l{
  float:left;
}

.float_r{
  float:right;
}

.none {
  display: none;
}