.wrapper{
  background: image-url('content_bg.png') repeat-y left;
  width:1292px;
  min-width:1292px;
  max-width:100%;
  margin:0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -86px;
  overflow:hidden;
}

.wrap{
  margin:0 auto;
  width:1290px;
}

::-webkit-file-upload-button { cursor:pointer; }



/* content */

.content{
  min-height:100px;
  position:relative;
  width:100%;
}

.content_in{
  padding:34px 35px;
  margin-right:240px;
  overflow:hidden;
}

.mid_col{
  margin-left:235px;
  position:relative;
}

.main_menu_block{
  background:#f7fafc;
  position:absolute;
  top:0px;
  left:0px;
  height:43px;
  overflow:hidden;
  width:235px;
}

.main_menu_block h3{
  padding:12px 0 0 48px;
  width:auto;
}

.main_menu_block h3 span{
  background: image-url('sprite_all.png') no-repeat -46px -37px;
  height:6px;
  display:inline-block;
  margin:0 0 0 5px;
  position:relative;
  top:-2px;
  width:9px;
}

.main_menu{
  position:absolute;
  top:43px;
  left:-236px;
  width:236px;
}

.main_menu li a{
  display:block;
  padding:3px 16px 0 49px;
  color:#234458;
  font-size:16px;
  text-decoration:none;
  height:29px;
  overflow:hidden;
  position:relative;
}

.main_menu li a span{
  background: image-url('icons/icons_menu.png') no-repeat;
  display:inline-block;
  margin:0 10px 0 0;
  height:20px;
  width:20px;
}

.main_menu li a span.m1{
  background-position:0 0;
  height:19px;
  position:relative;
  top:4px;
  left:1px;
}
.main_menu li.current a span.m1{
  background-position:0px 100%;
}

.main_menu li a span.m2{
  background-position:-20px 0;
  position:relative;
  top:5px;
}
.main_menu li.current a span.m2{
  background-position:-20px 100%;
}

.main_menu li a span.m3{
  background-position:-40px 0;
  position:relative;
  top:3px;
}
.main_menu li.current a span.m3{
  background-position:-40px 100%;
}

.main_menu li a span.m4{
  background-position:-60px 0;
  position:relative;
  top:5px;
}
.main_menu li.current a span.m4{
  background-position:-60px 100%;
}

.main_menu li a span.m5{
  background-position:-80px 0;
  position:relative;
  top:3px;
}
.main_menu li.current a span.m5{
  background-position:-80px 100%;
}

.main_menu li a span.m6{
  background-position:-100px 0;
  position:relative;
  top:5px;
}
.main_menu li.current a span.m6{
  background-position:-100px 100%;
}

.main_menu li a b{
  background: image-url('sprite_all.png') no-repeat -59px -37px;
  height:14px;
  display:none;
  width:16px;
  position:absolute;
  top:9px;
  right:9px;
}

.main_menu li:hover a{
  background:#f2f6f9;
}

.main_menu li.current a, .main_menu li.current:hover a{
  background: image-url('menu_active_bg.png') repeat-x top;
  color:#ffffff;
  text-shadow:0px 1px #006f9b;
  cursor:default;
}

.main_menu li.current a b{
  display:block;
}

.tabs_block{
  background:#387195;
  border-bottom:1px solid #2b5f85;
  border-top:1px solid #316789;
  margin-right:1px;
  margin-left:1px;
}

.tabs_block .tabs{
  padding:4px 0 0 28px;
}

.tabs_block .tabs li{
  display:inline-block;
  margin:0 11px 0 0;
}

.tabs_block .tabs li a{
  color:#ffffff;
  display:block;
  height:29px;
  padding:8px 21px 0;
  position:relative;
  top:1px;
  font-size:15px;
  -moz-border-radius:8px 8px 0 0;
  -webkit-border-radius:8px 8px 0 0;
  border-radius:8px 8px 0 0;
  /*behavior: url("/shared/PIE.htc");*/
  position:relative;
  zoom:1;
}

.tabs_block .tabs li a:hover, .tabs_block .tabs li.current a{
  background:#f9f9fb;
  color:#11364e;
  text-decoration:none;
}

.tabs_block .tabs li.current a, .tabs_block .tabs li.current a:hover{
  cursor:default;
}

.box{
  display:none;
}

.box.visible{
  display:block;
}

.headline p{
  padding-top:10px;
}

.form{
  padding:22px 0 0;
}

.form label, .hd, .stat_content label, .filter span, .filter label{
  color:#2d6283;
  font-size:15px;
  line-height:15px;
  display:block;
  font-weight:bold;
  padding-bottom:14px;
}

.form label.dis{
  color:#b3c5d2;
}

.f1{
  margin-bottom:8px;
  margin-right:24px;
  width:358px;
}

.f2{
  margin-bottom:8px;
  position:relative;
  width:230px;
}

.input, .inp_source, .textarea{
  background:#ffffff;
  border:1px solid #ffffff;
  border-top-color:#dadada;
  border-left-color:#dadada;
  box-shadow: inset 1px 1px 0px 0px #f2f2f2;
  -webkit-box-shadow: inset 1px 1px 0px 0px #f2f2f2;
  -moz-box-shadow: inset 1px 1px 0px 0px #f2f2f2;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  padding:5px 10px 6px;
  color:#474747;
  font:normal 15px Tahoma, Geneva, sans-serif;
  width:338px;
  margin-bottom:22px;
}

.textarea{
  height:149px;
}

.inp_small{
  background: #ffffff image-url('icons/calendar.png') no-repeat right;
  cursor:pointer;
  width:133px;
}

.inp_dis{
  background: #ffffff image-url('icons/calendar_dis.png') no-repeat right;
  color:#b5bfc6;
  cursor:default;
}

.arrow_top{
  background: image-url('sprite_all.png') no-repeat -90px 0;
  height:34px;
  display:block;
  position:absolute;
  top:44px;
  right:13px;
  width:45px;
}

.arrow_bottom{
  background: image-url('sprite_all.png') no-repeat -45px 0;
  height:37px;
  display:block;
  position:absolute;
  top:97px;
  right:13px;
  width:45px;
}

.check{
  position:absolute;
  top:81px;
  right:8px;
}

.arr_dis{
  background: image-url('sprite_all.png') no-repeat 0 0;
}

.inp_source{
  padding:0 0 0 8px;
  margin:0 0 22px;
  width:436px;
  float:left;
}

.inp_source .input{
  border:0px;
  background: image-url('icons/search_icon.png') no-repeat left;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width:380px;
  margin:0px;
  padding-left:23px;
}

.delete{
  background: image-url('icons/icons_all.png') no-repeat 0 -46px;
  height:20px;
  float:left;
  position:relative;
  left:-24px;
  cursor:pointer;
  top:7px;
  width:20px;
}

.sources_list{
  display:table;
  width:100%;
}

.sources_list li{
  float:left;
  margin:0 2px 2px 3px;
  height:33px;
  overflow:hidden;
  width:240px;
}

.sources_list li label input{
  float:left;
  margin-right:20px;
  margin-left:15px;
  position:relative;
  top:2px;
}

.has-js .label_check{
  height:27px;
  width:225px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  padding:6px 0 0 15px;
  cursor:pointer;
  color:#3e3e3e;
  font:normal 14px/19px Tahoma, Geneva, sans-serif;
}

.has-js .boxes .label_check{
  float:none;
}

.has-js .label_check {
  background: none;
  min-height: 13px;
}

.has-js .label_check:hover{
  background:#dadada;
}

.has-js label.c_on {
  background: #eef0f2 image-url('mark3.png') no-repeat right;
  min-height: 13px;
}

.has-js label.c_on:hover {
  background: #dadada image-url('mark3.png') no-repeat right;
}


.has-js .label_check input{
  position: absolute;
  left: -9999px;
}


.has-js .sources_list3 .label_check{
  height:20px;
  width:96px;
  font:normal 13px/18px Tahoma, Geneva, sans-serif;
  padding:0 0 0 6px;
}

.has-js .sources_list3 .label_check {
  background: none;
  min-height: 9px;
}

.has-js .sources_list3 .label_check:hover{
  background:#dadada;
}

.has-js .sources_list3 label.c_on {
  background: #eef0f2 image-url('mark4.png') no-repeat right;
  min-height: 9px;
}

.has-js .sources_list3 label.c_on:hover {
  background: #dadada image-url('mark4.png') no-repeat right;
}

.scroll_wrap{
  border:1px solid #d3d3d3;
  background:#ffffff;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  width:748px;
  padding:3px 0 3px 0;
  margin-bottom:14px;
}

.choose_wrap{
  border:1px solid #ffffff;
  box-shadow:  0px 2px 3px 0px #ededef;
  -webkit-box-shadow:  0px 2px 3px 0px #ededef;
  -moz-box-shadow:  0px 2px 3px 0px #ededef;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  width:748px;
  margin-bottom:44px;
}

.choose{
  background: image-url('spr_v.png') repeat-y right;
  float:left;
  padding:0 2px 0 0;
  width:244px;
}

.no_bg{
  background:none;
  padding:0px;
  width:254px;
}

.choose_headline{
  background:#d9d9d9;
  border-bottom:1px solid #f4f3f3;
  box-shadow:  0px 4px 0px 0px #edecec;
  -webkit-box-shadow:  0px 4px 0px 0px #edecec;
  -moz-box-shadow:  0px 4px 0px 0px #edecec;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  height:24px;
  padding:10px 18px 0;
  color:#3e6681;
  line-height:14px;
}

.select_group{
  cursor:pointer;
}

.choose{
  border-bottom:3px solid #edecec;
}

.choose ul li{
  background:#f1f1f1;
  display:table;
  padding:6px 0 7px;
  width:100%;
}

.choose ul li.grey{
  background:#edecec;
}

.choose ul li label{
  color:#646464;
  font-size:13px;
  font-weight:normal;
  line-height:14px;
  float:left;
  padding:1px 0 0 18px;
  width:184px;
}

.choose ul li input{
  float:right;
  margin-right:25px;
  position:relative;
  top:3px;
}

.corner{
  border-top:0px;
  border-bottom:10px solid #d9d9d9;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  height:0px;
  width:0px;
  position:absolute;
  top:-10px;
  left:50%;
  margin-left:-4px;
  display:block;
}

.f3{
  margin:0 33px 23px 0;
  width:164px;
}

.inp_small2{
  cursor:text;
  text-align:right;
  float:left;
  width:108px;
  font-size:14px;
}

.inp_small2.unlim{
  color:#b5b5b5;
}

.dollar, .views{
  background: image-url('icons/icons_all.png') no-repeat 0 -66px;
  height:23px;
  float:right;
  margin-top:5px;
  width:24px;
}

.views{
  background-position:0 -89px;
}

.sources_list2{
  width:370px;
}

.sources_list2 li{
  float:left;
  padding:6px 3px 19px;
  width:114px;
}

.sources_list2 li input{
  float:left;
  margin-right:10px;
  position:relative;
  top:2px;
}

.sources_list2 li label{
  width:auto;
  color:#3e3e3e;
  font-size:14px;
  font-weight:normal;
  padding:0px;
  float:none;
}

.sources{
  margin-bottom:37px;
}

.filters{
  padding:0 0 13px;
}

.filter{
  padding:0 0 10px;
}

.filter span, .filter label{
  display:inline-block;
  width:120px;
}

.box2{
  display:inline-block;
  margin-left:7px;
}

.scale{
  margin-bottom:10px;
}

.filter_off{
  background: image-url('sprite_all.png') no-repeat 0 -261px;
  height:26px;
  display:inline-block;
  cursor:pointer;
  position:relative;
  top:8px;
  width:69px;
}

.filter_on{
  background-position:0 -235px;
}

.filter_content{
  position:relative;
  top:-9px;
  margin-bottom:-9px;
  display:none;
  width:100%;
}

.track_bar{
  background: image-url('scale.png') no-repeat top center;
  padding:18px 0 0;
  position:relative;
  width:227px;
  margin:26px 0 0 6px;
}

.track_bar b{
  color:#3e3e3e;
  font:normal 15px/15px Tahoma, Geneva, sans-serif;
  display:block;
  position:absolute;
  top:-17px;
}

.track_bar b.r1{
  left:0px;
}

.track_bar b.r2{
  left:105px;
}

.track_bar b.r3{
  left:215px;
}

.banner{
  margin-bottom:26px;
}

.banner_wrap{
  background:#edecec;
  border:1px solid #bfc9d1;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  text-align:center;
}

.temp_size{
  height:123px;
  width:747px;
}

.banner_wrap img{
  display:block;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
}

.upload_banner{
  position:relative;
  display:inline-block;
  position:relative;
  top:53px;
}

.upload_link{
  color:#335063;
  cursor:pointer;
  font-size:15px;
  font-weight:bold;
  display:inline-block;
  text-decoration:underline;
}
.upload_link:hover{
  text-decoration:none;
}

.upload_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -132px;
  height:12px;
  display:inline-block;
  margin-right:7px;
  width:11px;
  position:relative;
  top:1px;
}

.start{
  padding:0 0 13px 3px;
  text-align:center;
}

.start input{
  display:inline-block;
  margin-right:10px;
  position:relative;
  top:2px;
}

.start label{
  color:#3e3e3e;
  font-size:14px;
  font-weight:normal;
  float:none;
  padding:0px;
  display:inline-block;
}

.button{
  background: #6f8daf image-url('buttons.png') repeat-x 0 0;
  border:0px;
  cursor:pointer;
  height:40px;
  text-align:center;
  color:#ffffff;
  font:bold 18px/18px 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight:600;
  padding:0 16px;
  text-shadow:0px 1px #006f9b;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
}

a.button{
  padding-top:11px;
  height:29px;
  text-decoration:none;
  display:inline-block;
}

.b10{
  text-align:center !important;
}

.b10 .button{
  display:block !important;
  float:none !important;
  margin:0 auto !important;
}

.upload_block{
  border:1px solid #bebebe;
  background:#dbdfe2;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  behavior: url("/shared/PIE.htc");
  position:absolute;
  zoom:1;
  bottom:40px;
  left:-137px;
  width:401px;
  padding-bottom:18px;
  box-shadow:  0px 3px 6px 0px #d2d1d1;
  -webkit-box-shadow:  0px 3px 6px 0px #d2d1d1;
  -moz-box-shadow:  0px 3px 6px 0px #d2d1d1;
  display:none;
}

.corner2{
  background: image-url('sprite_all.png') no-repeat 0 -37px;
  height:15px;
  width:18px;
  position:absolute;
  bottom:-15px;
  left:50%;
  margin-left:-9px;
  display:block;
}

.upload_headline{
  background:#ced7de;
  padding:15px;
  text-align:center;
  color:#575757;
  font-size:15px;
  line-height:15px;
  font-weight:bold;
  position:relative;
  -moz-border-radius:7px 7px 0 0;
  -webkit-border-radius:7px 7px 0 0;
  border-radius:7px 7px 0 0;
  behavior: url("/shared/PIE.htc");
  zoom:1;
}

.close{
  background: image-url('icons/icons_all.png') no-repeat 0 -112px;
  height:20px;
  display:block;
  width:20px;
  position:absolute;
  top:14px;
  right:7px;
}

.spr{
  background: image-url('spr.png') repeat-x top;
  height:2px;
  margin:0 7px;
  overflow:hidden;
}

.size_list{
  text-align:center;
  width:750px;
}

.size_list li{
  float:left;
  height:27px;
  width:123px;
  overflow:hidden;
  position:relative;
  margin:0 -1px -1px 0;
  border:1px solid #bfc6d1;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  behavior: url("/shared/PIE.htc");
  zoom:1;
}

.size_list li span{
  background:#f3f4f6;
  color:#3e3e3e;
  cursor:pointer;
  font-size:15px;
  line-height:15px;
  display:block;
  height:21px;
  text-decoration:none;
  padding:6px 0 0;
  width:123px;
}
.size_list li span:hover{
  background: #e5eaef image-url('mark5.png') no-repeat left;
}

.mask{
  width:123px;
  height:27px;
  background: #f3f4f6;
}

.fileInput{
  position:absolute;
  cursor:pointer !important;
  -ms-filter:"progid:DXImageTransFORM.Microsoft.Alpha(opacity=0)";
  filter:progid:DXImageTransFORM.Microsoft.Alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0;
  height:27px;
  width:123px;
  font-size:30px;
  z-index:1000;
}

.fileInputText{
  text-align:center;
  border:0px;
  background:none;
  padding:6px 0;
  width:123px;
  font:normal 15px/15px Tahoma, Geneva, sans-serif;
  color:#3e3e3e;
}

.size_list li:hover .mask, .size_list li.file_selected .mask{
  background: #e5eaef image-url('mark5.png') no-repeat left;
}

.size_list li:hover{
  cursor:pointer;
}

.banners_block{
  background:#e6e9ec;
  border:1px solid #bfc6d1;
  padding:10px 0 0 10px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  zoom:1;
  margin:9px 0 0;
  width:739px;
}

.banner_prev{
  float:left;
  margin:0 10px 10px 0;
  position:relative;
}

.banner_prev img{
  display:block;
}

.banner_prev span{
  background: image-url('transp2.png') repeat;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  text-align:center;
  padding:6px 0;
  color:#ffffff;
  font:bold 15px/15px Tahoma, Geneva, sans-serif;
  text-shadow:1px 1px #000000;
}

.plus{
  background: image-url('icons/icons_all.png') no-repeat -26px -822px;
  height:13px;
  display:inline-block;
  margin:0 6px 0 0;
  width:14px;
}

.but{
  padding:24px 0 0;
}

.tab{
  margin-top:23px;
  width:100%;
}

.tab th{
  background:#d9d9d9;
  border:1px solid #878787;
  color:#094874;
  font-size:15px;
  line-height:15px;
  font-weight:normal;
  padding:17px 14px 8px;
  vertical-align:top;
  text-align:left;
}

.stat1, .banners{
  color:#888888;
  font-size:11px;
  display:block;
  white-space:nowrap;
}

.stat1{
  position:relative;
  top:-9px;
  margin-bottom:-9px;
}

.stat1 b{
  background: image-url('icons/icons_all.png') no-repeat 0 -318px;
  height:13px;
  display:inline-block;
  margin:0 2px;
  position:relative;
  top:2px;
  width:19px;
}

.banners b{
  background: image-url('icons/icons_all.png') no-repeat 0 -331px;
  height:18px;
  display:inline-block;
  margin:0 2px;
  position:relative;
  top:6px;
  width:19px;
}

.tab_sm{
  width:770px;
}

.tab_sm th{
  padding:9px 4px 7px;
  font-size:12px;
  line-height:13px;
  text-align:center;
  vertical-align:middle;
  font:normal 12px/13px Tahoma, Geneva, sans-serif;
}

.tab_sm th.stat_th{
  text-align:left;
}

.tab td{
  border:1px solid #878787;
  background:#ffffff;
  padding:14px;
  vertical-align:top;
  font-size:14px;
  line-height:18px;
}

.tab_sm td{
  padding:6px 4px;
  font:normal 12px/16px Tahoma, Geneva, sans-serif;
  line-height:16px;
  vertical-align:middle;
  text-align:center;
}

.tab_sm td small{
  font-size:10px;
}

.tab td.site_td{
  padding-left:2px;
  padding-right:2px;
  white-space:normal;
}

.tab td a{
  font-size:14px;
  line-height:18px;
  text-decoration:none;
}

.tab_sm td a{
  font-size:12px;
  line-height:16px;
}

.tab td a:hover{
  text-decoration:underline;
}

.tab td.site_td a{
  color:#1e8fcc;
  border-bottom:1px dashed #1e8fcc;
}
.tab td.site_td a:hover{
  text-decoration:none;
  border:0px;
}

.tab td.site_td span{
  color:#828282;
  display:block;
  padding:1px 0 0;
}

.tab td.delete_td{
  padding:16px 12px;
  background:#f3f3f3;
  text-align:center;
  vertical-align:middle;
}

.tab_sm td.delete_td{
  padding-left:5px;
  padding-right:5px;
  white-space:nowrap;
  vertical-align:middle;
}

.tab td.icon_td{
  background:#f4f4f4;
  padding:3px 0;
  width:26px;
  text-align:center !important;
}

.tab td.code_td{
  vertical-align:middle;
}

.tab td span.active_item{
  color:#129600;
  font-size:11px;
}

.tab td span.paused_item{
  color:#ffb400;
  font-size:11px;
}

.tab td span.finished_item{
  color:#888888;
  font-size:11px;
}

.tab td span.rejected_item{
  color:#ff3838;
  font-size:11px;
}

.delete2{
  background: image-url('icons/icons_all.png') no-repeat 0 -213px;
  height:11px;
  display:block;
  margin:0 auto;
  cursor:pointer;
  width:10px;
}

.tab td a.code{
  text-decoration:none;
  background: image-url('icons/code.png') no-repeat left;
  min-height:9px;
  padding:1px 0 0 20px;
  display:inline-block;
}

.tab td a.code span{
  color:#1e8fcc;
  border-bottom:1px dotted #1e8fcc;
  cursor:pointer;
  position:relative;
  top:-1px;
}
.tab td a.code:hover span{
  border:0px;
}

.edit, .delete3, .start2, .pause{
  text-decoration:none;
  display:block;
  text-align:left;
}

.edit span, .delete3 span{
  color:#1e8fcc;
  font:normal 14px Tahoma, Geneva, sans-serif;
  border-bottom:1px dotted #1e8fcc;
}
.edit:hover span, .delete3:hover span{
  border:0px;
}
.edit:hover, .delete3:hover, .start2:hover, .pause:hover{
  text-decoration:none !important;
}

.edit{
  background: image-url('icons/icons_all.png') no-repeat -23px -857px;
  height:12px;
  display:block;
  margin:0 auto;
  width:12px;
}

.delete3{
  background: image-url('icons/icons_all.png') no-repeat -35px -857px;
  height:13px;
  display:block;
  margin:0 auto;
  width:13px;
}

.tab_sm .edit span, .tab_sm .delete3 span{
  font-size:12px;
}

.stat2{
  background: image-url('icons/icons_all.png') no-repeat 0 -350px;
  height:13px;
  display:block;
  margin:0 auto;
  position:relative;
  top:2px;
  width:19px;
}

.banners2{
  background: image-url('icons/icons_all.png') no-repeat 0 -363px;
  height:19px;
  display:block;
  margin:0 auto;
  position:relative;
  top:1px;
  width:18px;
}

.page_nav{
  text-align:center;
  margin:0 auto;
  padding:23px 0 0;
}

.page_nav li{
  display:inline-block;
  margin:0 4px;
}

.page_nav li a{
  color:#444444;
  display:block;
}

.page_nav li a.active{
  font-weight:bold;
  text-decoration:none;
  cursor:default;
}

.page_nav li a.prev_page{
  background: image-url('sprite_all.png') no-repeat -34px -163px;
  height:27px;
  position:relative;
  top:9px;
  width:29px;
}

.page_nav li a.next_page{
  background: image-url('sprite_all.png') no-repeat -63px -163px;
  height:27px;
  position:relative;
  top:9px;
  width:29px;
}

.start2{
  background: image-url('icons/icons_all.png') no-repeat 0 -857px;
  height:13px;
  display:block;
  margin:0 auto;
  width:12px;
}

.pause{
  background: image-url('icons/icons_all.png') no-repeat -12px -857px;
  height:12px;
  display:block;
  margin:0 auto;
  width:11px;
}

.start2:hover span, .pause:hover span{
  border:0px;
}

.stat_content{
  padding:18px 0 0 50px;
}

.total{
  float:right;
  color:#5a5a5a;
  margin:0 47px -19px;
  position:relative;
  top:-19px;
}

.total span{
  margin-left:22px;
}

.stat_grafic{
  padding:17px 0 0;
  position:relative;
  left:-49px;
  min-width: 706px;
  height: 250px
}

.butn_group{
  padding:29px 0 0;
}

.butn_group .button{
  display:inline-block;
  margin:0 9px 0 0;
  height:26px;
  padding:8px 19px 0 12px;
  color:#ffffff;
  font-size:16px;
  line-height:16px;
  text-shadow:none;

}

.butn_group .button span{
  background: image-url('sprite_all.png') no-repeat -87px -37px;
  height:13px;
  width:15px;
  display:inline-block;
  margin:0 7px 0 0;
  position:relative;
  top:1px;
}

.b1{
  background:#72a6df;
}

.b2{
  background:#af8554;
}

.b3{
  background:#828282;
}

.b4{
  background:#ff7f66;
}

.tab2{
  float:left;
  margin:67px 30px 0 0;
  width:309px;
}

.tab2 table{
  width:100%;
}

.tab2 table th{
  background:#d9d9d9;
  color:#094874;
  font:normal 15px Tahoma, Geneva, sans-serif;
  padding:6px 14px 4px;
  border:1px solid #8e8e8e;
  text-align:left;
}

.tab2 table td{
  background:#ffffff;
  line-height:15px;
  padding:12px 14px;
  border:1px solid #8e8e8e;
}

.tab2 table td span{
  display:inline-block;
  margin:0 7px 0 4px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  behavior: url("/shared/PIE.htc");
  zoom:1;
  position:relative;
  top:2px;
  height:16px;
  width:16px;
}

.tab2 table td span.os1{
  background:#67a5f5;
}

.tab2 table td span.os2{
  background:#f5e100;
}

.tab2 table td span.os3{
  background:#ff4343;
}

.tab2 table td span.os4{
  background:#35e0cf;
}

.tab2 table td span.os5{
  background:#83f526;
}

.tab2 table td span.os6{
  background:#fd7a2c;
}

.tab3{
  font-size:14px;
}

.tab3 th{
  text-align:center;
  padding:14px 10px 13px;
}

.tab3 td{
  text-align:center;
  padding-left:10px;
  padding-right:10px;
}

.tab3 td a{
  color:#5388c3;
}

.rejected_item2{
  color:#ff3838;
}

.rejected_item2 b{
  background: image-url('icons/icons_all.png') no-repeat 0 -846px;
  height:11px;
  display:inline-block;
  margin:0 5px 0 0;
  position:relative;
  top:1px;
  width:11px;
}

.done_item{
  color:#129600;
}

.done_item b{
  background: image-url('icons/icons_all.png') no-repeat -11px -846px;
  height:11px;
  display:inline-block;
  margin:0 5px 0 0;
  width:11px;
}

.process_item{
  color:#1e8fcc;
}

.process_item b{
  background: image-url('icons/icons_all.png') no-repeat -22px -846px;
  height:8px;
  display:inline-block;
  margin:0 5px 0 0;
  position:relative;
  top:-1px;
  width:11px;
}

.tab4 th{
  background:#d9d9d9;
  padding:14px 7px 12px;
  text-align:center;
  vertical-align:middle;
  font:normal 14px/14px Tahoma, Geneva, sans-serif;
}

.tab4 td{
  text-align:center;
  padding:9px 7px 10px;
  color:#3e3e3e;
  font:normal 13px/15px Tahoma, Geneva, sans-serif;
  vertical-align:middle;
}

.tab4 td.cat_td{
  min-width:134px;
}

.tab4 td a{
  color:#1e8fcc;
  font:normal 11px Tahoma, Geneva, sans-serif;
  display:inline-block;
}

.tab4 a.st_1, .tab4 a.st_2, .tab4 a.st_3, .tab4 a.st_4{
  background: image-url('icons/icons_all.png') no-repeat 0 -870px;
  height:28px;
  display:inline-block;
  margin:0 4px;
  width:28px;
}

.tab4 a.st_2{
  background-position:-28px -870px;
}

.tab4 a.st_3{
  background-position:0 -898px;
}

.tab4 a.st_4{
  background-position:-28px -898px;
}

.tab tr:nth-child(2n+1) td{
  background:#fcfcfc;
}

.active_item2{
  color:#129600;
  font-size:14px;
}

.rejected_item3{
  color:#ff3838;
  font-size:14px;
}

.links_td{
  color:#1e8fcc;
}

.tab4 .links_td a{
  font-size:13px;
  border-bottom:1px dashed #1e8fcc;
}
.tab4 .links_td a:hover{
  text-decoration:none;
  border:0px;
}

.rank b{
  background: image-url('icons/icons_all.png') no-repeat -28px 0;
  height:17px;
  display:inline-block;
  margin:0 8px 0 0;
  position:relative;
  top:4px;
  width:17px;
}

.sources2{
  padding:16px 0 0;
  position:relative;
  margin-bottom:-20px;
}

.sources2 .sources_list2 label{
  color:#3e6681 !important;
}

.sources2 .sources_list2 li{
  padding-right:26px !important;
  margin-right:10px !important;
}


.grafics_wrap{
  width:800px;
}

.stat_grafic2{
  float:left;
  margin:0 -200px 0 0;
  padding:27px 0 50px;
  position:relative;
  left:-160px;
}

.highcharts-background, .highcharts-container{
  background:none !important;
  border:0px !important;
  fill: none;
  stroke: 0px;
}

.stat_grafic2 b, .stat_grafic2 tspan{
  font-size:10px !important;
  font-weight:normal !important;
  line-height:10px !important;
}

.geography .tab, .grafics_tab .tab{
  margin-top:4px;
  width:648px;
}

.geography .tab tr.grey2 td{
  background:#f7f7f7;
}

.world_map{
  padding:42px 0 0;
}

.grafics_tab{
  padding-bottom:40px;
}

.grafics_tab .tab td a{
  color:#1e8fcc;
  font-size:14px;
  border-bottom:1px dashed #1e8fcc;
}
.grafics_tab .tab td a:hover{
  border:0px;
  text-decoration:none;
}


/* map styles */
.map_holder{
  background: image-url('world_map.png') no-repeat;
  height:312px;
  position:relative;
  margin:37px 0 0;
  width:644px;
}

.map_active, .pub_map_active{
  height:312px;
  width:644px;
}

#map, #pub_map{
  display:block;
  height:312px;
  position:relative;
  width:644px;
  z-index:1000;
}


.map_1_on, .pub_map_1_on{
  background: image-url('world_map_areas/north_america.png') no-repeat;
}
.map_2_on, .pub_map_2_on{
  background: image-url('world_map_areas/south-america.png') no-repeat;
}
.map_3_on, .pub_map_3_on{
  background: image-url('world_map_areas/eurasia.png') no-repeat;
}
.map_4_on, .pub_map_4_on{
  background: image-url('world_map_areas/africa.png') no-repeat;
}
.map_5_on, .pub_map_5_on{
  background: image-url('world_map_areas/australia.png') no-repeat;
}




.stat{
  background: image-url('transp2.png') repeat;
  display:none;
  position:absolute;
  box-shadow:  1px 1px 5px 0px #4c6da2;
  -webkit-box-shadow:  1px 1px 5px 0px #4c6da2;
  -moz-box-shadow:  1px 1px 5px 0px #4c6da2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url("/shared/PIE.htc");
  zoom:1;
  padding:4px 13px;
}

.stat strong{
  color:#fec500;
  display:block;
  font-weight:normal;
  line-height:14px;
}

.stat p{
  color:#ffffff;
  font-size:10px;
  line-height:14px;
  padding-top:1px;
}

.corner3{
  background: image-url('sprite_all.png') no-repeat -18px -37px;
  height:5px;
  position:absolute;
  bottom:-5px;
  left:50%;
  margin-left:-3px;
  width:7px;
}

#stat_1, #pub_stat_1{
  top:-50px;
  left:40px;
}
#stat_2, #pub_stat_2{
  top:110px;
  left:110px;
}
#stat_3, #pub_stat_3{
  top:-50px;
  left:400px;
}
#stat_4, #pub_stat_4{
  top:40px;
  left:270px;
}
#stat_5, #pub_stat_5{
  top:140px;
  right:20px;
}
/* /map styles */


.highcharts-legend-item, .highcharts-button{
  display:none !important;
}

.f4{
  margin-bottom:8px;
  padding-right:25px;
  position:relative;
  width:auto;
}

.f4 .inp_small{
  float:left;
  margin-right:20px;
  width:93px;
}

.b11{
  float:left;
  margin:50px 0 0;
}

.proceed_icon{
  background: image-url('sprite_all.png') no-repeat -60px -37px;
  height:14px;
  display:inline-block;
  margin:0 6px 0 0;
  position:relative;
  top:1px;
  width:8px;
}

.form_in2{
  float:left;
  padding:25px 35px 0 0;
  width:285px;
}

.form_in2 .input{
  width:260px;
}

.pay_request{
  padding:28px 0 20px;
  width:780px;
}

.empty_info {
  margin: 40px;
  text-align: center;
  font-size: 14px;
  color: #939393;
}

/* /middle column */

/* /content */
