.error
  border: 1px solid red !important
.alert
  position: relative
  background: #6590e0
  color: white
  font-size: 16px
  text-align: center
  padding: 20px
.fa-times
  position: absolute
  cursor: pointer
  right: 20px
  top: 20px
  font-size: 20px !important