
/* footer */
.push{
  clear: both;
  height:86px;
  width:100%;
}

footer{
  border-top:1px solid #b2cbde;
  background: #d5e4ee image-url('foot_bg.png') repeat-x bottom;
  height:85px;
  width:1292px;
  margin:0 auto;
  position:relative;
  z-index:1000;
}

.logo_small{
  float:left;
  margin:26px 0 0 48px;
}

.logo_small img{
  display:block;
}

.foot_nav{
  padding:32px 0 0 16px;
}

.foot_nav, .foot_nav li{
  float:left;
  width:auto;
}

.foot_nav li a, .copy, .contacts li{
  color:#0b2c41;
  font-size:14px;
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
  font-weight:600;
}

.foot_nav li a{
  text-shadow:0px 1px #ffffff;
  display:block;
  margin:0 19px 0 0;
  text-decoration:none;
}
.foot_nav li a:hover{
  text-decoration:underline;
}

.copy{
  float:right;
  padding:32px 90px 0 0;
}

.contacts, .contacts li{
  float:right;
}

.contacts{
  padding:0 49px 0 0;
}

.contacts li{
  padding:24px 28px 0 0;
}

.contacts li span{
  background: image-url('icons/icons_all.png') no-repeat;
  display:inline-block;
  margin:0 10px 0 0;
  height:23px;
}

.contacts li span.icq{
  background-position:0 -190px;
  width:22px;
  position:relative;
  top:7px;
}

.contacts li span.skype{
  background-position:0 -167px;
  width:22px;
  position:relative;
  top:6px;
}

.contacts li span.phone{
  background-position:0 -144px;
  width:17px;
  position:relative;
  top:7px;
}

/* /footer */


