.selectbox
  box-sizing: border-box
  width: 100%
  border: 1px solid transparent
  .select
    padding: 5px 10px 6px
    height: 32px
    box-sizing: border-box
    width: 100%

  .dropdown
    width: 100%

.static_form_wrapper
  width: 744px
  background: #f3f3f3
  padding: 13px 39px 15px
  border-radius: 5px
  box-shadow: 0px 2px 3px 0px #2c2c2c

form
  position: relative

  //TODO compass, autoprefixer