
/* header */

header{
  background: image-url('head_bg.png') no-repeat top center;
  height:84px;
  display:table;
  width:100%;
}

.logo{
  float:left;
  height:38px;
  margin:17px 30px 0 46px;
  width:234px;
}

.logo img{
  display:block;
}

.support{
  float:right;
  margin-right:25px;
  padding:26px 0 0;
  width:auto;
}

.s_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -18px;
  height:14px;
  display:inline-block;
  margin:0 10px 0 0;
  position:relative;
  top:2px;
  width:20px;
}

.support_in{
  background: image-url('transp.png') repeat;
  display:inline-block;
  height:28px;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  padding:6px 15px 0;
}

.support_in span{
  background: image-url('sprite_all.png') no-repeat -27px -37px;
  height:14px;
  display:inline-block;
  margin:0 2px 0 0;
  width:13px;
}

.support_in a{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  color:#ffffff;
  font:bold 18px/18px 'Open sans', Arial, Helvetica, sans-serif;
  font-weight:600;
  display:inline-block;
  margin:0 5px 0 0;
  position:relative;
  top:1px;
}

.support_in small{
  color:#94afc1;
  font:normal 14px/14px 'Open sans', Arial, Helvetica, sans-serif;
  display:inline-block;
  position:relative;
  top:-1px;
}

.sign{
  float:right;
  margin-right:56px;
  padding:33px 0 0 10px;
  color:#ffffff;
  font:bold 18px/18px 'Open sans', Arial, Helvetica, sans-serif;
  font-weight:600;
}

.sign span{
  background: image-url('icons/icons_all.png') no-repeat 0 -32px;
  height:14px;
  width:15px;
  display:inline-block;
  margin:0 10px 0 0;
  position:relative;
  top:2px;
}

/* /header */
