
/*############ index ########### */

.inner_body .wrapper{
  background:#ffffff;
  margin-bottom:-65px;
  width:100%;
}





.inner_body .wrap{
  width:1132px !important;
}

.bg_top{
  background: image-url('bg_main.jpg') no-repeat top center;
  height:802px;
}

header.main_head{
  background:#1b1f23;
  height:80px;
}

.logo_main{
  float:left;
  margin:19px 0 0;
  width:288px;
}

.logo_main img{
  display:block;
  height:44px;
  width:288px;
}

.head_buttons{
  float:right;
  padding:21px 2px 0 0;
}

.button2{
  border:2px solid #803d1e;
  background:#202123;
  color:#ca632c;
  font:normal 15px/15px Arial, Helvetica, sans-serif;
  display:inline-block;
  height:26px;
  padding:11px 20px 0;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
  text-align:center;
  text-decoration:none;
  min-width:67px;
}
.button2:hover{
  background:#ca632c;
  border-color:#ca632c;
  color:#ffffff;
}

.b6{
  border-color:#6590e0;
  background:#6590e0;
  color:#ffffff;
}
.b6:hover{
  background:#222428;
  border-color:#6590e0;
}

.head_buttons .button2{
  float:right;
  margin-left:19px;
}

.top_menu{
  float:right;
  padding:34px 56px 0 0;
  width:auto;
}

.top_menu li{
  float:left;
  text-align:right;
  margin:0 0 0 26px;
}

.top_menu li a{
  color:#dedede;
  font:normal 16px/16px Tahoma, Geneva, sans-serif;
  display:block;
  text-decoration:none;
}
.top_menu li a:hover{
  text-decoration:underline;
}
.top_menu li a.active{
  color:#656565;
  cursor:default;
  text-decoration:none;
}

.block_1{
  height:802px;
  text-align:center;
}

.block_1 h1{
  padding:310px 0 0;
}

.block_1 p{
  color:#fa6a23;
  font:normal 40px/40px HelveticaNeueLTStdLtCn, Arial, Helvetica, sans-serif;
  padding:34px 0 0;
}

.arr_bottom, .arr_top{
  background: image-url('sprite_all.png') no-repeat;
  height:55px;
  display:block;
  margin:223px auto 0;
  width:55px;
}

.arr_bottom{
  background-position:0 -52px;
}
.arr_bottom:hover{
  background-position:0 -107px;
}

.block_2{
  background:#ffffff;
}

.block_2_top{
  background:#e4e4e4;
  text-align:center;
  padding:90px 0 73px;
}

.block_2_top h2{
  color:#585858;
  font:normal 48px/48px HelveticaNeueLTStdLtCn, Arial, Helvetica, sans-serif;
}

.pattern{
  background: image-url('pattern.png') repeat-x top;
  height:8px;
  overflow:hidden;
  width:100%;
}

.block_2_bottom .wrap{
  padding:74px 0 69px;
}

.main_list{
  float:left;
  margin:0 13px 0 24px;
  width:320px;
}

.publisher, .features{
  width:350px;
}

.features{
  margin-right:0px;
}

.advertisers .headline2 span{
  background: image-url('icons/icons_all.png') no-repeat 0 -653px;
  height:56px;
  width:57px;
  display:inline-block;
  margin:0 8px 0 0;
  position:relative;
  top:12px;
  left:-7px;
}

.publisher .headline2 span{
  background: image-url('icons/icons_all.png') no-repeat 0 -766px;
  height:56px;
  width:55px;
  display:inline-block;
  margin:0 21px 0 0;
  position:relative;
  top:6px;
  left:0px;
}

.features .headline2 span{
  background: image-url('icons/icons_all.png') no-repeat 0 -710px;
  height:56px;
  width:55px;
  display:inline-block;
  margin:0 23px 0 0;
  position:relative;
  top:8px;
  left:0px;
}

.headline2 h4{
  color:#818181;
  font:normal 48px/48px HelveticaNeueLTStdLtCn, Arial, Helvetica, sans-serif;
  display:inline-block;
}

.main_list ul{
  padding:43px 0 0;
}

.main_list ul li{
  background: image-url('mark_green.png') no-repeat top left;
  color:#666565;
  font:normal 17px/21px Arial, Helvetica, sans-serif;
  padding:0 0 0 31px;
  margin:0 0 19px;
}

.publisher ul li{
  background: image-url('mark_blue.png') no-repeat top left;
}

.features ul li{
  background: image-url('mark_yellow.png') no-repeat top left;
}

.button_sign{
  background: image-url('buttons_group.png') no-repeat -300px 100%;
  height:24px;
  float:left;
  color:#ffffff;
  font:bold 13px/13px Arial, Helvetica, sans-serif;
  padding:13px 0 0 15px;
  margin:10px 0 0 37px;
  text-decoration:none;
  text-transform:uppercase;
  width:135px;
}
.button_sign:hover{
  background-position:-300px 0;
}

.publisher .button_sign{
  background: image-url('buttons_group.png') no-repeat -150px 100%;
}
.publisher .button_sign:hover{
  background: image-url('buttons_group.png') no-repeat -150px 0;
}

.features .button_sign{
  background: image-url('buttons_group.png') no-repeat 0 100%;
}
.features .button_sign:hover{
  background: image-url('buttons_group.png') no-repeat 0 0;
}

.learn{
  color:#565656;
  float:left;
  margin-left:33px;
  padding:19px 0 0;
  text-decoration:none;
  border-bottom:1px dashed #565656;
}
.learn:hover{
  border:0px;
}

.bg_bottom{
  background: image-url('bg_main.jpg') no-repeat bottom center;
  height:800px;
  text-align:center;
}

.bg_bottom h2{
  color:#ffffff;
  font:normal 60px/60px HelveticaNeueLTStdLtCn, Arial, Helvetica, sans-serif;
  padding-top:255px;
}

.bg_bottom p{
  color:#ffffff;
  font:normal 26px/26px HelveticaNeueLTStdLtCn, Arial, Helvetica, sans-serif;
  padding-top:29px;
}

.b5{
  border:3px solid #ffffff;
  background:none;
  color:#ffffff;
  font-size:24px;
  line-height:24px;
  padding:24px 75px 0;
  height:50px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
}
.b5:hover{
  background:#ffffff;
  border-color:#ffffff;
  color:#000000;
}
.bg_bottom .b5{
  margin-top:46px;
}

.arr_top{
  background-position:-55px -52px;
  margin-top:165px;
}
.arr_top:hover{
  background-position:-55px -107px;
}

footer.main_foot{
  border:0px;
  background:#1b1f23;
  height:44px;
  padding:21px 0 0;
  width:100%;
}

.inner_body .push{
  clear: both;
  height:65px;
  width:100%;
}

.link_home{
  background: image-url('icons/icons_all.png') no-repeat 0 -822px;
  height:24px;
  float:left;
  margin:0 0 0 24px;
  width:22px;
}

.foot_nav2{
  padding:7px 0 0 28px;
}

.foot_nav2, .foot_nav2 li{
  float:left;
}

.foot_nav2 li a{
  color:#bdc3c7;
  font:normal 14px/14px Tahoma, Geneva, sans-serif;
  margin:0 18px;
  display:block;
  text-decoration:none;
}
.foot_nav2 li a:hover{
  text-decoration:underline;
}

.terms{
  float:right;
  padding:7px 15px 0 0;
}

.terms, .terms a{
  color:#bdc3c7;
  font:normal 14px/14px Tahoma, Geneva, sans-serif;
  text-decoration:none;
}
.terms a:hover{
  text-decoration:underline;
}

/*############ /index ########### */


/*############ contact us ########### */

.content_in2{
  margin:0 auto;
  padding:23px 0 30px;
  width:1007px;
  color:#434343;
  font:normal 15px/24px Tahoma, Geneva, sans-serif;
}

.headline3{
  border-bottom:2px dotted #afafaf;
  padding:0 0 18px;
  margin-bottom:11px;
}

.headline3 h1{
  color:#1b1f23;
  font:normal 30px/30px Tahoma, Geneva, sans-serif;
  display:inline-block;
}

.contact_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -382px;
  height:40px;
  display:inline-block;
  margin:0 16px 0 0;
  position:relative;
  top:6px;
  width:40px;
}

.contacts_content p{
  font-size:17px;
}

.emails{
  border-bottom:2px solid #a9a9a9;
  padding:32px 0 6px;
}

.email{
  float:left;
  border-right:1px solid #a9a9a9;
  width:250px;
  text-align:center;
  position:relative;
  padding:4px 0 0;
  cursor:pointer;
}

.email_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -422px;
  height:27px;
  display:inline-block;
  margin:0 11px 0 0;
  position:relative;
  top:1px;
  width:23px;
}

.email a, .email a:hover{
  color:#2b2b2b;
  font:normal 16px/16px Tahoma, Geneva, sans-serif;
  display:inline-block;
  text-decoration:none;
  position:relative;
  top:-7px;
}

.corner4{
  border-bottom:8px solid #88b79c;
  border-top:0px;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  height:0px;
  width:0px;
  position:absolute;
  bottom:-6px;
  left:50%;
  margin-left:-3px;
  display:none;
}


.email_bord{
  border-bottom:2px solid #88b79c;
  height:0px;
  overflow:hidden;
  width:250px;
  position:absolute;
  bottom:-8px;
  left:0px;
  display:none;
}

.mail_active .email_bord, .mail_active .corner4{
  display:block;
}

.last{
  border:0px;
}

.form_left{
  border-right:1px dashed #b5b5b5;
  float:left;
  margin:39px 0 0;
  padding-bottom:26px;
  width:503px;
}

.contacts_form label{
  color:#434343;
  font:normal 17px/17px Tahoma, Geneva, sans-serif;
  display:block;
  padding:0 0 12px;
}

.input2{
  border:1px solid #a9a9a9;
  background:#f7f7f7;
  color:#717171;
  font:normal 14px Tahoma, Geneva, sans-serif;
  margin-bottom:27px;
  padding:12px 10px;
  width:428px;
  box-shadow: inset 2px 2px 4px 0px #cecece;
  -webkit-box-shadow: inset 2px 2px 4px 0px #cecece;
  -moz-box-shadow: inset 2px 2px 4px 0px #cecece;
  behavior: url("/shared/PIE.htc");
  position:relative;
  zoom:1;
}

.but4{
  width:450px;
  padding:21px 0 0;
}

.button3{
  border:0px;
  border-bottom:2px solid #949494;
  background: image-url('buttons.png') repeat-x 0 -40px;
  height:47px;
  color:#ffffff;
  cursor:pointer;
  font:normal 14px Tahoma, Geneva, sans-serif;
  text-transform:uppercase;
  text-shadow:1px 1px #21518c;
  width:100%;
}
.button3:hover{
  background: image-url('buttons.png') repeat-x 0 -85px;
}

.form_right{
  float:right;
  margin:39px 0 0;
  padding-bottom:26px;
  width:450px;
}

textarea.input2{
  height:202px;
  width:428px;
}

.contacts_bottom{
  border-top:1px dashed #b7b7b7;
  padding:29px 0 0;
  margin:15px 0 0;
}

.contacts_bottom p{
  font-size:17px;
}

.skype_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -449px;
  height:27px;
  width:27px;
  display:inline-block;
  margin:0 9px 0 0;
  position:relative;
  top:-8px;
}

.icq_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -476px;
  height:27px;
  width:29px;
  display:inline-block;
  margin:0 9px 0 0;
  position:relative;
  top:-8px;
}

.cont_block{
  border-right:1px solid #a9a9a9;
  float:left;
  margin:17px 54px 0 0;
  padding:13px 0 0;
  width:210px;
}

.cont_block a{
  color:#2b2b2b;
  font:normal 16px/16px Tahoma, Geneva, sans-serif;
  text-decoration:none;
  position:relative;
  top:-16px;
  margin-bottom:-16px;
}
.cont_block a:hover{
  text-decoration:underline;
}

.contacts_bottom .last{
  margin-right:0px;
  border:0px;
}

/*############ /contact us ########### */


/*############ advertiser ########### */

.hd2 h1{
  color:#21c6a5;
}

.advert_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -503px;
  height:41px;
  display:inline-block;
  margin:0 14px 0 0;
  position:relative;
  top:10px;
  width:45px;
}

.advert_content{
  padding:3px 0 0;
}

.advert_content img{
  display:block;
  margin:0 auto;
}

.advert_list{
  border-bottom:1px dashed #a9a9a9;
  padding:44px 0 29px;
  display:table;
  width:100%;
  margin-bottom:23px;
}

.advert_list li{
  float:left;
  padding:11px 0 16px;
  margin:0 30px 0 0;
  line-height:18px;
  width:315px;
}

.advert_list li.spr3{
  width:1px;
  overflow:hidden;
  background:#a9a9a9;
  height:63px;
  padding:0px;
  margin:0px;
  position:relative;
  left:-30px;
}

.advert_list li span{
  background: image-url('mark_green.png') no-repeat top left;
  padding:0 30px;
  display:block;
}

.advert_list li:last-child{
  margin-right:0px;
  padding-right:0px;
}

.advert_list li.last-child{
  margin-right:0px;
  padding-right:0px;
}

.advert_content p{
  text-indent:32px;
  position:relative;
}

.advert_content p span{
  background:#21c6a5;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  behavior: url("/shared/PIE.htc");
  position:absolute;
  zoom:1;
  display:block;
  height:10px;
  top:8px;
  left:7px;
  width:10px;
}

.advert_content .but2{
  padding-top:32px;
}

.b7{
  border-color:#e74c3c;
  background:#e74c3c;
  color:#ffffff;
  font:bold 15px/15px Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  height:28px;
  padding:15px 25px 0;
}
.b7:hover{
  background:none;
  color:#e74c3c;
}

/*############ /advertiser ########### */


/*############ about us ########### */

.hd3 h1{
  color:#e74c3c;
}

.about_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -544px;
  height:37px;
  width:52px;
  display:inline-block;
  margin:0 6px 0 0;
  position:relative;
  top:6px;
}

.about_content .advert_list{
  padding-top:0px;
  position:relative;
  top:-51px;
  margin-bottom:-28px;
}

.about_content .advert_list li span{
  background: image-url('mark_red.png') no-repeat;
}

.about_content p span{
  background-color:#e74c3c;
}

.b8{
  border-color:#27ae60;
  background:#27ae60;
  color:#ffffff;
  font:bold 15px/15px Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  height:28px;
  padding:15px 25px 0;
}
.b8:hover{
  border-color:#27ae60;
  background:none;
  color:#27ae60;
}

/*############ /about us ########### */


/*############ publisher ########### */

.hd4 h1{
  color:#569ded;
}

.publisher_icon{
  background: image-url('icons/icons_all.png') no-repeat 0 -581px;
  height:48px;
  width:47px;
  display:inline-block;
  margin:0 12px 0 0;
  position:relative;
  top:12px;
}

.publisher_content .advert_list li span{
  background: image-url('mark_blue.png') no-repeat;
}

.publisher_content p span{
  background-color:#569ded;
}

/*############ /publisher ########### */
