
/* modal styles */
.reveal-modal-bg{
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1000;
  display: none;
  top: 0;
  left: 0;
}

.reveal-modal{
  visibility: hidden;
  top: 52px;
  left: 50%;

  margin-left: -411px;
  width: 744px;

  background: #f3f3f3;
  position: absolute;
  z-index: 1001;
  padding: 13px 39px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow:  0px 2px 3px 0px #2c2c2c;
  -webkit-box-shadow:  0px 2px 3px 0px #2c2c2c;
  -moz-box-shadow:  0px 2px 3px 0px #2c2c2c;
  behavior: url("/shared/PIE.htc");
  zoom:1;
}

.reveal-modal h2{
  text-align:center;
}

.mod{
  padding-left:35px;
  padding-right:35px;
  margin-left:-306px;
  width:543px;visibility: hidden;
}

.mod2{
  background: #ffffff image-url('pp_bg.png') repeat;
  padding:0 0 17px;
  margin-left:-214px;
  width:426px;
  box-shadow:  2px 2px 10px 0px #060709;
  -webkit-box-shadow:  2px 2px 10px 0px #060709;
  -moz-box-shadow:  2px 2px 10px 0px #060709;
  top:132px;
}


.close2{
  background: image-url('icons/icons_all.png') no-repeat 0 -46px;
  height:20px;
  display:block;
  position:absolute;
  top:16px;
  right:16px;
  cursor:pointer;
  width:20px;
}

.close3{
  background: image-url('icons/icons_all.png') no-repeat 0 -629px;
  cursor:pointer;
  height:24px;
  display:block;
  position:absolute;
  top:7px;
  right:7px;
  width:24px;
}
.close3:hover{
  background-position:-24px -629px;
}

.spr2{
  background: image-url('spr2.png') no-repeat;
  height:2px;
  margin:11px auto 0;
  width:427px;
}

.pp_form{
  padding-top:14px;
  padding-bottom:13px;
}

.pp_form .sources, .filter .sources, .source2{
  margin-bottom:5px;
  width:auto;
}

.pp_form .sources_list2, .filter .sources_list2, .source2 .sources_list2{
  padding:8px 0 0;
  width:100%;
}

.pp_form .sources_list2 li, .filter .sources_list2 li, .source2 .sources_list2 li{
  border-right:1px dashed #b6b7b7;
  padding:5px 13px 6px;
  width:auto !important;
}

.pp_form .sources_list2 li:first-child, .filter .sources_list2 li:first-child,
.source2 .sources_list2 li:first-child{
  padding-left:0px;
}

.filter .sources_list2 li:first-child{
  padding-left:0px;
}

.pp_form .sources_list2 li.first-child, .filter .sources_list2 li.first-child,
.source2 .sources_list2 li.first-child{
  padding-left:0px;
}

.pp_form .sources_list2 li:last-child, .filter .sources_list2 li:last-child,
.source2 .sources_list2 li:last-child{
  padding-right:0px;
  border:0px;
}

.pp_form .sources_list2 li.last-child, .filter .sources_list2 li.last-child,
.source2 .sources_list2 li.last-child{
  padding-right:0px;
  border:0px;
}


.pp_form .sources_list2 li label, .filter .sources_list2 li label,
.source2 .sources_list2 li label{
  float:left;
  width:auto;
}

.choose_cat{
  border:1px solid #d3d3d3;
  background:#ffffff;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  margin:8px 0 21px;
  padding:7px 0 3px 2px;
}

.sources_list3 li{
  margin:0 0 4px 3px;
  width:102px;
}

.size_list2{
  padding:9px 0 0;
}

.has-js .label_radio{
  display: block;
  padding: 6px 0 0;
  height:21px;
  text-align:center;
  color:#2d6283;
  font:normal 15px/15px Tahoma, Geneva, sans-serif;
  float:left;
  margin:0 -1px -1px 0;
  overflow:hidden;
  width:123px;
  cursor:pointer;
  background:none;
  border:1px solid #bcc4ce;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

.has-js .label_radio:hover{
  background:#e5eaef;
}

.has-js label.r_on, .has-js label.r_on:hover{
  background: #e5eaef image-url('mark5.png') no-repeat left;
}

.has-js .label_radio input{
  position: absolute;
  left: -9999px;
}

.pp_form .input{
//  width: 405px;

  width: 100%;
  box-sizing: border-box;
}

.pp_form .fileInput, .pp_form .fileInputText{
  width:140px;
}

.but2{
  text-align:center;
  padding:27px 0 0;
}

.but2 .button{
  margin:0 auto;
  behavior: url("");
}

.pp_form .hd{
  padding-bottom:5px;
}

.code_bg{
  background:#ffffff;
  border:1px solid #dadada;
  border-bottom-color:#ffffff;
  border-right-color:#ffffff;
  box-shadow:  0px 0px 0px 1px #ffffff, inset 1px 1px 0px 0px #f2f2f2;
  -webkit-box-shadow:  0px 0px 0px 1px #ffffff, inset 1px 1px 0px 1px #f2f2f2;
  -moz-box-shadow:  0px 0px 0px 1px #ffffff, inset 1px 1px 0px 0px #f2f2f2;
  behavior: url("/shared/PIE.htc");
  zoom:1;
}

.notice{
  color:#2d6283;
  display:block;
  padding:16px 0 9px;
}

.code_bg textarea{
  border:0px;
  background:none;
  color:#4a96d7;
  font:normal 14px/17px Tahoma, Geneva, sans-serif;
  padding:2px 9px 7px;
  height:444px;
  width:523px;
}

.but3{
  padding:17px 0 0;
  text-align:center;
}

.but3 .button{
  margin:0 23px;
  padding-left:0px;
  padding-right:0px;
  width:100px;
  behavior: url("");
}

.modal_tabs {
  .tabs_block {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 20px 0px 00px 0px;
  }

  form {
    padding-top: 0px;
  }
  .input {
    border-top: none;
    margin-top: 0px;
    box-shadow: none;
  }

  .tabs_block .tabs {
    li a:hover, li.current a {
      background: #fff;
    }
  }

  #code_tabs {
    textarea {
      padding: 30px;
    }
  }
}

.reveal-modal {
  overflow: hidden;
}


/* /modal styles */
