
/* right panel */
.right_panel{
  background:#e1ebf2;
  min-height:100px;
  display:block;
  position:absolute;
  top:0px;
  right:1px;
  width:240px;
  z-index:1000;
}

.right_info{
  padding:3px 34px 13px 51px;
  color:#0d324b;
  font-size:14px;
  line-height:19px;
}

.right_info p{
  padding:10px 0 8px;
}

.user_navig{
  color:#387195;
  font:normal 16px/16px Tahoma, Geneva, sans-serif;
  padding:14px 0 0 18px;
}

.user_navig a{
  color:#387195;
  font:normal 16px/16px Tahoma, Geneva, sans-serif;
  text-decoration:none;
}
.user_navig a:hover{
  text-decoration:underline;
}

.user_navig div{
  padding-bottom:11px;
  display:table;
  width:100%;
}

.username span{
  background: image-url('icons/icons_all.png') no-repeat 0 -224px;
  height:25px;
  float:left;
  margin:0 8px 0 0;
  position:relative;
  top:-4px;
  width:25px;
}

.status span{
  background: image-url('icons/icons_all.png') no-repeat 0 -249px;
  height:25px;
  float:left;
  margin:0 8px 0 0;
  position:relative;
  top:-4px;
  width:25px;
}

.payments span{
  background: image-url('icons/icons_all.png') no-repeat 0 -274px;
  height:25px;
  float:left;
  margin:0 8px 0 0;
  position:relative;
  top:-4px;
  width:25px;
}


/* /right panel */
