p Здравствуйте.
p В системе зарегистрирован новый пользователь.

p
  'Username:
  = @user['username']
p
  'Role:
  = @user['role']
p
  'First Name:
  = @user['firstName']
p
  'Last Name:
  = @user['lastName']
p
  'Email:
  = @user['email']
p
  'Website Url:
  = @user['websiteUrl']

br

p Чтобы пользователь смог войти в систему необходимо вручную активировать его в системе.
