<!-- edit website modal -->
<!-- Предполагается что для любого объекта и даже действия СВОЕ модальное окно - мы не делаем запрос данных если в него они однажды были загружены-->
<div id='<%= "edit#{@obj_name.camelize}Modal" %>' class="reveal-modal" data-loaded="">

    <span class="close-reveal-modal close2"></span>
    <h2>Edit <%= @obj_name %></h2>
    <div class="spr2"></div>

    <div class="modal_content">

    </div>
</div>
<!-- /add website modal -->
