

<% in_modal = (defined? remote) && remote  %>

<% if @form_method == 'post' %>
    <% standard_action = 'create' %>
    <% action = public_send("publisher_#{@obj_name.pluralize}_path", {format: in_modal ? :json : nil})  %>
<% end %>

<% if @form_method == 'put' %>
    <% standard_action = 'update' %>
    <% action = public_send("publisher_#{@obj_name}_path", {id: obj.id, format: in_modal ? :json : nil})  %>
<% end %>


<form id="<%= @form_id %>" action="<%= action %>" method="<%= @form_method %>" <%= in_modal ? 'data-remote=true' : '' %> class="form pp_form" data-validate="true" data-action="<%= @form_data_action %>" data-standard-action="<%= standard_action %>" data-model-name="<%= @obj_name %>" data-model-name="<%= @obj_name %>" data-model-plur-name="<%= @obj_name_plur %>" >
  <fieldset>

    <% if obj.id %>
        <input type="text" class="none" name=<%= "#{@obj_name}[id]" %> value="<%= obj.id %>">
    <% end %>


    <label>Name*</label>
    <input type="text" class="input" name=<%= "#{@obj_name}[name]" %> value="<%= obj.name %>">

    <label>Url*</label>
    <input type="text" class="input" name=<%= "#{@obj_name}[url]" %> value="<%= obj.url %>">

    <label>Description</label>
    <textarea type="text" class="input" name=<%= "#{@obj_name}[description]" %> ><%= obj.description %></textarea>

    <label>Email</label>
    <input type="text" class="input" name=<%= "#{@obj_name}[email]" %> value="<%= obj.email %>">

    <div class="sources" >
      <strong class="hd">Category*</strong>

      <div class="clearing"></div>

      <div class="choose_cat" data-validation-name=<%= "#{@obj_name}[categoryId]" %> >
        <ul class="sources_list3 list_coll" style="overflow: hidden;">

          <!--!! generate different indexes for checkboxes for POST and PUT (create and UPDATE)-->

          <% if @form_method == 'post' %>
              <% @pub_categories.each_slice(5).with_index do |slice, i| %>
                  <div class="<%= "coll_s c_#{i+1}" %>" style="padding-left: 0px; float: left; clear: right;">
                    <% slice.each do |cat| %>
                        <li>
                          <label class="label_check" for=<%= "create_cat_#{cat['id']}" %> >
                            <input name="site[categoryId][]" id='<%= "create_cat_#{cat['id']}" %>' value='<%= cat['id'] %>' type="checkbox"> <%= cat['name']  %>
                          </label>
                        </li>
                    <% end %>
                  </div>
              <% end %>
          <% end %>

          <% if @form_method == 'put' %>
              <% @pub_categories.each_slice(5).with_index do |slice, i| %>
                  <div class="<%= "coll_s c_#{i+1}" %>" style="padding-left: 0px; float: left; clear: right;">
                    <% slice.each do |cat| %>
                        <li>
                          <label class="label_check" for=<%= "update_cat_#{cat['id']}" %> >
                            <input name="site[categoryId][]" id='<%= "update_cat_#{cat['id']}" %>' value='<%= cat['id'] %>' type="checkbox"> <%= cat['name']  %>
                          </label>
                        </li>
                    <% end %>
                  </div>
              <% end %>
          <% end %>

        </ul>
      </div>

    </div>


    <label>Impressions By Month</label>
    <select type="text" class="input" name="site[impressionsByMonth]" value="<%= obj.impressionsByMonth %>">
      <% Site::IMPRESSIONS_BY_MONTH_SELECT.each do |el| %>
          <option <%= "#{'selected' if obj.impressions_by_month_is(el[:value])}" %> value="<%= el[:value] %>"><%= el[:string] %></option>
      <% end %>
    </select>

    <label>Visitors By Month</label>
    <select type="text" class="input" name="site[visitorsByMonth]" value="<%= obj.visitorsByMonth %>">
      <% Site::VISITORS_BY_MONTH_SELECT.each do |el| %>
          <option <%= "#{'selected' if obj.visitors_by_month_is(el[:value])}" %> value="<%= el[:value] %>"><%= el[:string] %></option>
      <% end %>
    </select>

    <!--<label>Revenue Share</label>-->
    <!--<input type="number" min="0" max="100" class="input" name="site[revenueShare]" value="<%= obj.revenueShare %>">-->


  </fieldset>
  <div class="but2"><input type="submit" class="button" value='<%= "#{standard_action == 'create' ? 'Add ' : 'Edit '} #{@obj_name}" %>'></div>
</form>