<div class="list_wrapper">
    <table id='<%= "#{obj_name_plur}_created_list" %>'  class="tab tab4 <%= 'none' if collection.count == 0 %>">
      <tbody>
          <tr>
            <th>Website</th>
            <th>Adzones</th>
            <th></th>
          </tr>

          <!-- TR TEMPLATE !!! - надо редактировать если меняем верстку-->
          <tr id="site_tr_template"  class="none">
            <td data-name="site[name]"> zzz </td>
            <td>
              <span class="links_td">

                <a class="zones_redirect" href="/publisher/zones?siteId=29">Add</a>
                &nbsp;/&nbsp;
                <a class="zones_redirect" href="/publisher/zones?siteId=29">Manage</a>
                </span>
            </td>
            <td>
              <a href="#" title="" class="st_1"></a>

              <a class="st_2 edit_site" data-href="/publisher/sites/29/edit" data-model-name-camelize="Site" data-model-name="site" data-params="{'edit_obj':{'id':29,'name':'zzz'}}" href="javascript: void(0);" onclick="Traffex.standard.editInModal($(this), 29)"></a>
              <a class="st_4 delete_site" data-action="sites_delete" data-confirm="Вы уверены?" data-method="delete" data-remote="true" data-standard-action="delete" href="/publisher/sites/29.json" rel="nofollow"></a>
            </td>
          </tr>
          <!-- /TR TEMPLATE -->

          <% collection.each do |obj| %>
          <tr id="<%= obj['id'] %>">
            <td data-name='<%= "#{obj_name}[name]" %>' > <%= obj['name'] %> </td>
            <td>
              <span class="links_td">

                <%= link_to 'Add', publisher_zones_path(siteId: obj['id']), class: 'zones_redirect' %>
                &nbsp;/&nbsp;
                <%= link_to 'Manage', publisher_zones_path(siteId: obj['id']), class: 'zones_redirect' %>
                </span>
            </td>
            <td>
              <a href="#" title="" class="st_1"></a>

              <%= link_to '', 'javascript: void(0);', class: "st_2 edit_#{obj_name}", onclick: "Traffex.standard.editInModal($(this), #{obj['id']})", data: {href: public_send("edit_publisher_#{obj_name}_path", obj['id']), params: {edit_obj: obj}, model_name: obj_name, model_name_camelize: obj_name.camelize  } %>
              <%= link_to '', public_send("publisher_#{obj_name}_path", obj['id'], format: :json), method: 'delete', class: "st_4 delete_#{obj_name}", data: {confirm: t(:are_you_shure), standard_action:'delete', action: "#{obj_name_plur}_delete", remote: true}  %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>

  <% if collection.count == 0 %>
      <p class="empty_info"><%= t :there_is_nothing %></p>
  <% else %>
      <ul class="page_nav">
        <li><a href="#" title="" class="prev_page"></a></li>
        <li><a href="#" title="" class="active">1</a></li>
        <li><a href="#" title="">2</a></li>
        <li><a href="#" title="">3</a></li>
        <li><a href="#" title="">4</a></li>
        <li><a href="#" title="">5</a></li>
        <li><a href="#" title="" class="next_page"></a></li>
      </ul>
  <% end %>


</div>