<!-- content -->


<!-- header_menu -->
<%= render 'shared/publisher/header_menu' %>
<!-- /header_menu -->

<!-- middle column -->
<div class="mid_col tabs-content">

<!--head tabs-->
<%= render 'shared/publisher/head_tabs' %>
<!-- /head tabs -->


<!-- Publisher -->
<div id="publisher-tab-content" class="box tab-content-js visible">

<div class="tabs-content">

<!-- main_menu -->
<%= render 'shared/publisher/main_menu' %>
<!-- /main_menu -->

<!-- TODO убрать все кроме Publisher-Websites  - когда будут готовы все разделы-->

<!-- Publisher - Websites -->
<div id="sites-tab-content" class="box inner-tab-content-js visible" style="display: block;">

  <div class="content_in">

    <div class="headline">
      <h2>Websites</h2>
      <p>There is should be short text that describe this control panel.</p>
    </div>

    <div class="but">
      <!--<a href="javascript:void(0);" title="" class="button" data-reveal-id="addWebsiteModal" data-animation="fade">-->
      <!--<span class="plus"></span>Add website-->
      <!--</a>-->

      <%= link_to( new_publisher_site_path, class: 'button', data: {reveal_id: 'addSiteModal', animation: 'fade'}) do %>
          <span class="plus"></span>Add website
      <% end %>
    </div>



    <div class="filter">
      <div class="sources2">
        <ul class="sources_list2">
          <li class="first-child">
            <input type="checkbox" name="sourse" value="1" id="sites_all" checked="">
            <label for="sites_all">All</label>
            <div class="clearing"></div>
          </li>
          <li>
            <input type="checkbox" name="sourse" value="2" id="sites_active" checked="">
            <label for="sites_active">Active</label>
            <div class="clearing"></div>
          </li>
          <li class="last-child">
            <input type="checkbox" name="sourse" value="3" id="sites_rejected">
            <label for="sites_rejected">Rejected</label>
            <div class="clearing"></div>
          </li>
        </ul>
        <div class="clearing"></div>
      </div>
    </div>

    <%= render "#{@obj_name_plur}_list", collection: instance_variable_get("@#{@obj_name_plur}"), obj_name: @obj_name, obj_name_plur: @obj_name_plur %>

  </div>

</div>
<!-- /Publisher - Websites -->



<!-- Publisher - Zones -->
<div id="adzones-tab-content" class="box inner-tab-content-js" style="display: none;">

  <div class="content_in">

    <div class="headline">
      <h2>AdZones</h2>
      <p>There is should be short text that describe this control panel.</p>
    </div>

    <table class="tab tab4">
      <tbody><tr>
        <th>ID</th>
        <th>Status</th>
        <th>Title&nbsp;/&nbsp;Description&nbsp;/&nbsp;URL</th>
        <th>Info</th>
        <th>Impr&nbsp;/&nbsp;CLicks&nbsp;/&nbsp;CTR</th>
        <th>Stats&nbsp;/&nbsp;Edit&nbsp;/&nbsp;JS&nbsp;/&nbsp;delete</th>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      <tr>
        <td>234</td>
        <td><span class="active_item2">Active</span></td>
        <td class="cat_td">Title<br>Description<br>Url</td>
        <td class="cat_td">Type<br>Category<br>Niches</td>
        <td class="cat_td">
          <a href="#" title="">Impr:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">Сlicks:</a>&nbsp;2,721,528 <br>
          <a href="#" title="">CTR:</a>&nbsp;2,721,528
        </td>
        <td>
          <a href="#" title="" class="st_1"></a>
          <a href="#" title="" class="st_2"></a>
          <a href="#" title="" class="st_3"></a>
          <a href="#" title="" class="st_4"></a>
        </td>
      </tr>
      </tbody></table>

    <ul class="page_nav">
      <li><a href="#" title="" class="prev_page"></a></li>
      <li><a href="#" title="" class="active">1</a></li>
      <li><a href="#" title="">2</a></li>
      <li><a href="#" title="">3</a></li>
      <li><a href="#" title="">4</a></li>
      <li><a href="#" title="">5</a></li>
      <li><a href="#" title="" class="next_page"></a></li>
    </ul>

  </div>

</div>
<!-- /Publisher - Zones -->

<!-- Publisher - Statistics -->
<div id="pub-statistics-tab-content" class="box inner-tab-content-js" style="display: none;">

<div class="content_in">

<div class="headline">
  <h2>Statistics</h2>
</div>
<div class="total">
  <span>Total views:  37.000</span>
  <span>Total clicks: 2000</span>
  <span>CRT: 10%</span>
</div>
<div class="clearing"></div>

<div class="stat_content">

<div class="f4 float_l">
  <label>Choose campaing</label>
  <div class="sel2">
    <select >
      <option>Campaing Name</option>
      <option>Campaing Name 2</option>
      <option>Campaing Name 3</option>
    </select>
  </div>
</div>
<div class="f4 float_l">
  <label>Period</label>
  <input type="text" class="input inp_small date" id="">
  <input type="text" class="input inp_small date" id="">
  <div class="sel4">
    <select >
      <option>Last 7 days</option>
      <option>Last 10 days</option>
      <option>Last 15 days</option>
    </select>
  </div>
</div>

<div class="clearing"></div>

<div class="stat_grafic">
  <%= image_tag('temp/stat.jpg') %>

</div>
<div class="butn_group">
  <a href="#" title="" class="button b1"><span></span>Impressions</a>
  <a href="#" title="" class="button b3"><span></span>Clicks</a>
  <a href="#" title="" class="button b4"><span></span>CRT</a>
</div>

<div class="tab2">
  <table>
    <tbody><tr>
      <th>OS</th>
      <th>Visits</th>
    </tr>
    <tr>
      <td><span class="os1"></span>Windows XP</td>
      <td>1234 (51%)</td>
    </tr>
    <tr>
      <td><span class="os2"></span>Windows 7</td>
      <td>453 (18%)</td>
    </tr>
    <tr>
      <td><span class="os3"></span>Windows Vista</td>
      <td>245 (9%)</td>
    </tr>
    <tr>
      <td><span class="os4"></span>Linux</td>
      <td>123 (4%)</td>
    </tr>
    <tr>
      <td><span class="os5"></span>Mac OS</td>
      <td>43 (2%)</td>
    </tr>
    <tr>
      <td><span class="os6"></span>Other</td>
      <td>23 (1%)</td>
    </tr>
    </tbody></table>
</div>
<div class="tab2">
  <table>
    <tbody><tr>
      <th>Browser</th>
      <th>Visits</th>
    </tr>
    <tr>
      <td><span class="os1"></span>Internet Explorer</td>
      <td>1234 (51%)</td>
    </tr>
    <tr>
      <td><span class="os2"></span>Chrome</td>
      <td>453 (18%)</td>
    </tr>
    <tr>
      <td><span class="os3"></span>Firefox</td>
      <td>245 (9%)</td>
    </tr>
    <tr>
      <td><span class="os4"></span>Opera</td>
      <td>123 (4%)</td>
    </tr>
    <tr>
      <td><span class="os5"></span>Safari</td>
      <td>43 (2%)</td>
    </tr>
    <tr>
      <td><span class="os6"></span>Other</td>
      <td>23 (1%)</td>
    </tr>
    </tbody></table>
</div>
<div class="clearing"></div>

<h2>graph</h2>
<div class="grafics_wrap">
  <div class="stat_grafic2" id="container4" style="height: 300px; max-width: 600px;" data-highcharts-chart="2">
  </div>
  <div class="stat_grafic2" id="container5" style="height: 300px; max-width: 600px;" data-highcharts-chart="3">
  </div>
  <div class="clearing"></div>
</div>

<div class="grafics_tab">
  <table class="tab tab3">
    <tbody><tr>
      <th>Date</th>
      <th>Name</th>
      <th>Type</th>
      <th>Cost</th>
      <th>Impressions</th>
      <th>Cliks</th>
      <th>CRT</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>12.12.14</td>
      <td><a href="#" title="">Websitename</a></td>
      <td>CPM</td>
      <td>$623</td>
      <td>13424</td>
      <td>13424</td>
      <td>23%</td>
      <td>13424</td>
    </tr>
    </tbody></table>
  <ul class="page_nav">
    <li><a href="#" title="" class="prev_page"></a></li>
    <li><a href="#" title="" class="active">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
    <li><a href="#" title="" class="next_page"></a></li>
  </ul>
</div>

<div class="geography">
  <strong class="hd">Geography</strong>
  <table class="tab tab3">
    <tbody><tr>
      <th>Country</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>CRT</th>
      <th>Price</th>
      <th>Total earn</th>
    </tr>
    <tr>
      <td>Russia</td>
      <td>Moscow</td>
      <td>124</td>
      <td>23%</td>
      <td>$623</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Ukraine</td>
      <td>Kiev</td>
      <td>232</td>
      <td>21%</td>
      <td>124</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>United Kingdom</td>
      <td>London</td>
      <td>122</td>
      <td>12%</td>
      <td>78</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Tailand</td>
      <td>Samui</td>
      <td>122</td>
      <td>12%</td>
      <td>78</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>New Zeland</td>
      <td>Wellington</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Belarus</td>
      <td>Minsk</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Russia</td>
      <td>Saint-Petersburg</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    <tr>
      <td>Tailand</td>
      <td>Samui</td>
      <td>234</td>
      <td>23%</td>
      <td>34</td>
      <td>13424</td>
    </tr>
    </tbody></table>
  <ul class="page_nav">
    <li><a href="#" title="" class="prev_page"></a></li>
    <li><a href="#" title="" class="active">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
    <li><a href="#" title="" class="next_page"></a></li>
  </ul>
</div>

<div class="world_map">
  <strong class="hd">Statistics on World map</strong>

  <!-- map -->
  <div class="map_holder">
    <div class="pub_map_active" onmouseout="this.className='pub_map_active'; clear_all_pub();">

      <%= image_tag('empty.png', usemap: "#pub_map") %>

      <map name="pub_map" id="pub_map">

        <!-- north america -->
        <area shape="poly" coords="12,37,20,36,17,31,23,29,27,30,28,25,41,22,60,21,75,24,90,22,102,19,115,14,124,17,131,16,141,16,153,14,164,9,170,4,180,3,189,3,219,3,271,3,262,10,256,19,246,25,232,29,220,34,213,42,185,70,168,75,159,79,146,83,132,93,129,99,117,109,119,119,125,127,132,133,143,139,132,139,118,139,105,146,105,158,117,161,114,165,105,163,95,152,89,148,83,144,72,142,59,134,49,123,44,105,39,89,45,76,50,64,52,52,45,42,31,42,17,46,6,50,3,51,8,45" href="#" alt="" id="pub_map1">
        <!-- /north america -->

        <!-- south america -->
        <area shape="poly" coords="116,164,117,172,109,186,109,193,116,205,123,218,135,227,135,241,137,256,138,270,141,279,145,289,144,293,148,299,153,304,158,308,167,309,159,303,160,295,156,291,160,283,168,272,173,264,181,251,183,245,183,241,192,236,194,237,200,228,201,213,210,196,198,189,185,185,175,182,173,172,167,168,161,168,148,158,135,155,128,153" href="#" alt="" id="pub_map2">
        <!-- /south america -->

        <!-- eurasia -->
        <area shape="poly" coords="271,54,270,62,280,67,282,79,269,81,268,94,275,96,283,93,291,89,295,81,303,90,312,96,321,90,331,97,336,100,342,98,354,102,357,110,364,125,374,140,379,150,397,144,411,131,410,125,422,124,434,133,449,162,460,168,456,161,456,153,456,146,472,131,478,131,487,144,492,144,496,162,490,170,508,196,541,205,559,203,562,191,577,194,587,203,597,201,608,209,612,198,628,207,637,268,624,280,608,289,612,292,636,281,640,272,628,202,610,188,583,185,567,184,558,175,556,162,547,148,544,141,541,129,539,112,530,99,535,94,548,102,556,109,569,100,567,84,569,82,556,64,536,53,553,47,577,63,580,54,575,46,588,39,597,33,579,26,557,22,532,20,516,19,515,13,501,11,501,18,484,16,461,16,448,9,415,3,415,6,433,9,406,18,396,17,387,23,376,24,384,15,374,11,367,19,368,26,356,27,335,20,322,21,324,6,306,7,315,14,320,21,307,33,297,40,301,48,301,56,292,62,281,48,267,30,252,32,254,37,265,34,278,52" href="#" alt="" id="pub_map3">
        <!-- /eurasia -->

        <!-- africa -->
        <area shape="poly" coords="274,99,265,107,264,112,256,120,249,131,250,140,247,147,252,159,265,171,278,171,291,167,297,171,304,173,303,185,311,199,313,210,310,221,311,226,317,247,324,263,335,263,352,248,354,242,359,238,357,231,362,224,376,235,379,242,383,239,391,216,390,212,380,220,378,229,375,233,364,224,372,216,369,205,367,195,379,179,386,173,394,158,394,154,382,156,376,151,369,142,363,133,356,115,352,110,328,106,325,110,310,105,306,96,292,96" href="#" alt="" id="pub_map4">
        <!-- /africa -->

        <!-- australia -->
        <area shape="poly" coords="556,215,546,223,541,229,525,235,524,256,520,263,525,264,537,261,551,257,561,263,567,263,569,270,572,278,572,284,578,280,574,279,573,273,577,275,585,272,597,260,605,248,605,242,594,225,595,219,589,209,587,214,586,220,584,224,575,218,577,213,569,209,562,213,560,218" href="#" alt="" id="pub_map5">
        <!-- /australia -->

      </map>

    </div>

    <!-- statistics -->

    <!-- north america stat -->
    <div class="stat" id="pub_stat_1">
      <span class="corner3"></span>
      <strong>Notrh America</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /north america stat -->

    <!-- south america stat -->
    <div class="stat" id="pub_stat_2">
      <span class="corner3"></span>
      <strong>South America</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /south america stat -->

    <!-- eurasia stat -->
    <div class="stat" id="pub_stat_3">
      <span class="corner3"></span>
      <strong>Eurasia</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /eurasia stat -->

    <!-- africa stat -->
    <div class="stat" id="pub_stat_4">
      <span class="corner3"></span>
      <strong>Africa</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /africa stat -->

    <!-- australia stat -->
    <div class="stat" id="pub_stat_5">
      <span class="corner3"></span>
      <strong>Australia</strong>
      <p>Views 3456<br>Clicks 1304<br>Uniques 890<br>CRT 18%</p>
    </div>
    <!-- /australia stat -->

    <!-- /statistics -->

  </div>
  <!-- /map -->

</div>

</div>

</div>

</div>
<!-- /Publisher - Statistics -->

<!-- Publisher - Payments -->
<div id="pub-pay-tab-content" class="box inner-tab-content-js" style="display: none;">
  no info
</div>
<!-- /Publisher - Payments -->

<!-- Publisher - Settings -->
<div id="pub-config-tab-content" class="box inner-tab-content-js" style="display: none;">
  no info
</div>
<!-- /Publisher - Settings -->

</div>

</div>
<!-- /Publisher -->

<!-- Affilate -->
<%= render partial: 'shared/affilate' %>
<!-- /Affilate -->

</div>
<!-- /middle column -->

<!-- right panel -->
<%= render partial: 'shared/publisher/right_panel' %>
<!-- /right panel -->

<!-- /content -->

<%= content_for :modals do %>
    <%= render "add_#{@obj_name}_modal", obj: instance_variable_get("@#{@obj_name}"), obj_name_plur: @obj_name_plur  %>
    <%= render "edit_#{@obj_name}_modal", obj_name: @obj_name%>
<% end %>

