<h2> Сайт клиента  </h2>

<div class='banner'>
    <iframe frameborder="none" height="200" marginheight="0" marginwidth="0" src="/get_banner" width="200"></iframe>
</div>

<audio src="/Dora_mix.mp3"></audio>
