<div id='<%= "add#{@obj_name.camelize}Modal" %>' class="reveal-modal">

    <span class="close-reveal-modal close2"></span>
    <h2>New <%= @obj_name %></h2>
    <div class="spr2"></div>

  <%= render "publisher/#{@obj_name_plur}/form", obj: obj, placement: placement, remote: true  %>

</div>

