<!--FOR CREATE(new form) AND UPDATE(edit form)-->

<% in_modal = (defined? remote) && remote  %>

<% if @form_method == 'post' %>
    <% standard_action = 'create' %>
    <% action = public_send("publisher_#{@obj_name.pluralize}_path", {format: in_modal ? :json : nil})  %>
<% end %>

<% if @form_method == 'put' %>
    <% standard_action = 'update' %>
    <% action = public_send("publisher_#{@obj_name}_path", {id: obj.id, format: in_modal ? :json : nil})  %>
<% end %>


<form id="<%= @form_id %>" action="<%= action %>" method="<%= @form_method %>" <%= in_modal ? 'data-remote=true' : '' %> class="form pp_form" data-validate="true" data-action="<%= @form_data_action %>" data-standard-action="<%= standard_action %>" data-model-name="<%= @obj_name %>" data-model-name="<%= @obj_name %>" data-model-plur-name="<%= @obj_name_plur %>" >
  <fieldset>
    <% if obj.id %>
        <input type="text" class="none" name=<%= "#{@obj_name}[id]" %> value="<%= obj.id %>">
    <% end %>

    <label>Name*</label>
    <input type="text" class="input" name=<%= "#{@obj_name}[name]" %> value="<%= obj.name %>">

    <label>Description</label>
    <textarea type="text" class="input" name=<%= "#{@obj_name}[description]" %> ><%= obj.description %></textarea>

    <input type="text" class="none" name=<%= "#{@obj_name}[siteId]" %> value="<%= @siteId %>">




    <!--PLACEMENT ---------------------------------------------------->
    <% if placement['id'] %>
        <input type="text" class="none" name=<%= "#{@obj_name}[placement_id]" %> value="<%= placement['id'] %>">
    <% end %>

    <label>Size</label>
    <select id="ad_unit_select" type="text" class="input" name=<%= "#{@obj_name}[size_adUnit]" %> value="<%= placement.size_adUnit %>">
      <% Placement::ADUNIT_SELECT.each do |el| %>
          <option <%= "#{'selected' if placement.ad_unit_is(el[:value])}" %> value="<%= el[:value] %>"><%= el[:string] %></option>
      <% end %>
    </select>

    <!--Custom size-->
    <div id="custom_size" class="none">
      <label>Height</label>
      <input type="number" class="input" name=<%= "#{@obj_name}[size_height]" %> value="<%= placement.size_height %>">
      <label>Width</label>
      <input type="number" class="input" name=<%= "#{@obj_name}[size_width]" %>  value="<%= placement.size_width %>">
    </div>

    <!-- TODO TYPE SITE PLACEMENT etc - если мы получим от апи этот параметр тогда можно уже вставлять его в форму и при редактировании он останется прежним либо обновится
        но если он от апи не приходит то при редактировании тут в селекте не будет selected старого значения и значит может переписаться не верно или ошибка валидации вылезти - тогда надо хранить данные плэйсмента в базе что еще один гемор по сути
     -->

    <!--пока дефолт - в верстке не меняем и на бэке его не учитываем - TODO должен срабатывать дефолт CPM в епом-->
    <label>Payment Model</label>
    <select disabled="disabled" type="text" class="input" name=<%= "#{@obj_name}[payment_model]" %> value="<%= Placement::DEFAULT_PAYMENT_MODEL %>">
      <% PAYMENT_MODELS.each do |el| %>
          <option <%= "#{'selected' if el == 'CPM'}" %> value="<%= el %>"> <%= el %> </option>
      <% end %>
    </select>



    <label>Default code</label>
    <textarea type="text" class="input" name=<%= "#{@obj_name}[defaultCode ]" %> ><%= placement.defaultCode %></textarea>

    <input type="text" class="none" name=<%= "#{@obj_name}[zoneId]" %> value="<%= obj.id %>">
    <!--/PLACEMENT ---------------------------------------------------->



   </fieldset>
  <div class="but2"><input type="submit" class="button" value='<%= "#{standard_action == 'create' ? 'Add ' : 'Edit '} #{@obj_name}" %>' ></div>
</form>