<div class="list_wrapper">
  <table id='<%= "#{obj_name_plur}_created_list" %>' class="tab tab4 <%= 'none' if collection.count == 0 %>">
    <tbody>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Stats&nbsp;/&nbsp;Edit&nbsp;/&nbsp;Delete</th>
    </tr>

    <!-- TR TEMPLATE !!! - надо редактировать если меняем верстку-->
    <tr id="zone_tr_template" class="none">
      <td class="cat_td" data-name="zone[name]"> bbb </td>
      <td class="cat_td"> <a href="#">Show</a></td>
      <td>
        <a href="#" title="" class="st_1"></a>
        <a class="st_2 edit_zone" data-href="/publisher/zones/100/edit" data-model-name-camelize="Zone" data-model-name="zone" data-params="{'edit_obj':{'id':100,'name':'bbb'},'siteId':'29'}" href="javascript: void(0);" onclick="Traffex.standard.editInModal($(this), 100)"></a>

        <a class="st_4 delete_zone" data-action="zones_delete" data-confirm="Вы уверены?" data-method="delete" data-remote="true" data-standard-action="delete" href="/publisher/zones/100.json?siteId=29" rel="nofollow"></a>
      </td>
    </tr>
    <!--. /TR TEMPLATE-->

    <% collection.each do |obj| %>
        <tr id="<%= obj['id'] %>">
          <td class="cat_td" data-name='<%= "#{obj_name}[name]" %>' > <%= obj['name'] %> </td>
          <td class="cat_td" >
            <span class="links_td">
              <%= link_to 'Show', 'javascript: void(0);', onclick: "Traffex.zones.getCodeInModal($(this), #{obj['id']})", data: {href: get_code_publisher_zone_path(obj['id']), params: {zone: obj, siteId: @siteId}, model_name: 'code', model_name_camelize: 'Code'  } %>
            </span>
          </td>
          <td>
            <a href="#" title="" class="st_1"></a>
            <%= link_to '', 'javascript: void(0);', class: "st_2 edit_#{obj_name}", onclick: "Traffex.standard.editInModal($(this), #{obj['id']})", data: {href: public_send("edit_publisher_#{obj_name}_path", obj['id']), params: {edit_obj: obj, siteId: @siteId}, model_name: obj_name, model_name_camelize: obj_name.camelize  } %>

            <%= link_to '', public_send("publisher_#{obj_name}_path", obj['id'], siteId: @siteId, format: :json), method: 'delete', class: "st_4 delete_#{obj_name}", data: {confirm: t(:are_you_shure), standard_action:'delete', action: "#{obj_name_plur}_delete", remote: true}  %>
          </td>
        </tr>
    <% end %>

    </tbody>
  </table>

  <% if collection.count == 0 %>
      <p class="empty_info"><%= t :there_is_nothing %></p>
  <% else %>
      <ul class="page_nav">
        <li><a href="#" title="" class="prev_page"></a></li>
        <li><a href="#" title="" class="active">1</a></li>
        <li><a href="#" title="">2</a></li>
        <li><a href="#" title="">3</a></li>
        <li><a href="#" title="">4</a></li>
        <li><a href="#" title="">5</a></li>
        <li><a href="#" title="" class="next_page"></a></li>
      </ul>
  <% end %>

</div>
