<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
          <i class="fa fa-times" onclick="Traffex.flash.close(this)"></i>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
    <% end %>
<% end %>

<!--GLASH FROM JS-->
<div id="flash_js" class="alert none">
  <i class="fa fa-times" onclick="Traffex.flash.close(this)"></i>
  <div id="flash_msg"></div>
</div>