<!DOCTYPE html>
  <html lang="en">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag("application", :media => "all") %>

        <!--ICONS-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!--[if lte IE 9]
            <%= stylesheet_link_tag "ie/ie_9", media: "all" %>
        <![endif]-->

        <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
        <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'%>
        <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'%>
        <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'%>
        <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'%>

        <%= include_gon %>
      </head>

      <body class="has-js" cz-shortcut-listen="true">
          <div class="wrapper" id="application_layout">

            <div class="wrap">

              <!-- header -->
              <header>
                <div class="wrap">
                  <a href="/" title="" class="logo">
                    <%= image_tag('logo.png') %>
                  </a>

                  <%= link_to 'Sing Out', sign_out_users_path(username: @current_user.username), method: 'delete', class: 'sign' %>"
                  <div class="support">
                    <div class="support_in">
                      <span></span>
                      <a href="#" title="">Support Name</a>
                      <small>Offline</small>
                    </div>
                  </div>
                </div>
              </header>
              <!-- /header -->

              <%= render partial: 'layouts/messages' %>

              <div class="content">
                <%= yield %>
              </div>


            </div>
            <div class="push"></div>
          </div>

          <!-- footer -->
          <footer>
            <div class="wrap">
              <a href="#" title="" class="logo_small">
                <%= image_tag('logo_small.png') %>
              </a>
              <ul class="foot_nav">
                <li><a href="#" title="">FAQ</a></li>
                <li><a href="#" title="">Help</a></li>
                <li><a href="#" title="">Terms</a></li>
                <li><a href="#" title="">Contacts</a></li>
              </ul>
              <p class="copy">© TrafficExchange 2014</p>
              <ul class="contacts">
                <li><span class="icq"></span>ICQ: 208444080</li>
                <li><span class="skype"></span>Skype: traff-ex</li>
                <li><span class="phone"></span>+ 1 (356) 45-46-546</li>
              </ul>
              <div class="clearing"></div>
            </div>
          </footer>
          <!-- /footer -->

          <!-- MODALS -->
          <div id="modals">
            <%= yield :modals %>
          </div>
          <!-- /MODALS -->

          <%= javascript_include_tag "application" %>
          <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js")</script><![endif]-->

          <!--WEINRE DEBUG-->
          <!--= javascript_include_tag "http://192.168.1.49:8080/target/target-script-min.js#anonymous"-->

      </body>

  </html>