<!DOCTYPE html>
  <html lang="en">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag("landing/landing", :media => "all") %>

        <!--ICONS-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!--[if lte IE 9]
            <%= stylesheet_link_tag "ie/ie_9", media: "all" %>
        <![endif]-->

        <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
        <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'%>
        <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'%>
        <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'%>
        <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'%>

        <%= include_gon %>
      </head>

      <body class="inner_body" cz-shortcut-listen="true">
          <div class="wrapper" id="landing_layout">

              <!-- header -->
              <header class="main_head" id="main_head">
                <div class="wrap">
                  <a href="/" title="" class="logo_main">
                    <%= image_tag 'logo_main.png' %>
                  </a>
                  <div class="head_buttons">
                    <a href="javascript:void(0);" title="Login" class="button2" data-reveal-id="loginModal" data-animation="fade">Login</a>
                    <a href="javascript:void(0);" title="Sign Up" class="button2 b6" data-reveal-id="signModal" data-animation="fade">Sign Up</a>
                  </div>
                  <ul class="top_menu">
                    <li>
                      <%= link_with_active_class('Advertiser', landing_advertiser_path) %>
                    </li>
                    <li>
                      <%= link_with_active_class('Pulisher', landing_publisher_path) %>
                    </li>
                    <li>
                      <%= link_with_active_class('About us', landing_about_us_path) %>
                    </li>
                    <li>
                      <%= link_with_active_class('Contacts', landing_contacts_path) %>
                    </li>
                  </ul>
                </div>
              </header>
              <!-- /header -->

              <%= render partial: 'layouts/messages' %>
              <%= yield %>


            <div class="push"></div>
          </div>


          <!-- footer -->
          <footer class="main_foot">
            <div class="wrap">
              <a href="/" title="" class="link_home"></a>
              <ul class="foot_nav2">
                <li>
                  <%= link_with_active_class('Advertiser', landing_advertiser_path) %>
                </li>
                <li>
                  <%= link_with_active_class('Pulisher', landing_publisher_path) %>
                </li>
                <li>
                  <%= link_with_active_class('About us', landing_about_us_path) %>
                </li>
                <li>
                  <%= link_with_active_class('Contacts', landing_contacts_path) %>
                </li>
              </ul>
              <p class="terms">Be sure to take a look to our <a href="#" title="">Terms of Use</a> and <a href="#" title="Privacy Policy">Privacy Policy</a></p>
              <div class="clearing"></div>
            </div>
          </footer>
          <!-- /footer -->

          <div id="modals">
            <% if !current_page?(sign_up_users_path) && (request.path != '/users/create')  %>
                <!-- sign up modal -->
                <div id="signModal" class="reveal-modal mod2 none">
                  <span class="close-reveal-modal close3"></span>
                  <%= render 'shared/sign_up_form', user: (@user || User.new), remote_sign_up: true %>
                </div>
                <!-- /sign up modal -->
            <% end %>

            <% if !current_page?(sign_in_users_path) && (request.path != '/users/login') %>
                <!-- login modal -->
                <div id="loginModal" class="reveal-modal mod2 none">
                  <span class="close-reveal-modal close3"></span>

                  <%= render 'shared/sign_in_form', user: (@user || User.new), remote_sign_in: true %>
                </div>
                <!-- /login modal -->
            <% end %>
          </div>

          <%= javascript_include_tag "landing/landing" %>
          <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js")</script><![endif]-->

          <!--WEINRE DEBUG-->
          <!--= javascript_include_tag "http://192.168.1.49:8080/target/target-script-min.js#anonymous"-->

      </body>
  </html>
