<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

      <title> <%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
    </head>

    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">

      <%= yield %>

    </body>

  </html>